{% extends "account/base.html" %}
{% load widget_tweaks %}


{% block title %}
    My Calendar
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

<!-- Calendar -->
<div class="row">
    <div class="col-md-10 ml-auto mr-auto">
        <div class="card card-calendar">
            <div class="card-body">
                <div id="fullCalendar">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $calendar = $('#fullCalendar');

    today = new Date();
    y = today.getFullYear();
    m = today.getMonth();
    d = today.getDate();

    $calendar.fullCalendar({
        viewRender: function(view, element) {
            // We make sure that we activate the perfect scrollbar when the view isn't on Month
            if (view.name != 'month'){
                $(element).find('.fc-scroller').perfectScrollbar();
            }
        },
        header: {
            left: 'title',
            center: 'month,agendaWeek,agendaDay',
            right: 'prev,next,today'
        },
        defaultDate: today,
        selectable: true,
        selectHelper: true,
        views: {
            month: { // name of view
                titleFormat: 'MMMM YYYY'
                // other view-specific options here
            },
            week: {
                titleFormat: " MMMM D YYYY"
            },
            day: {
                titleFormat: 'D MMM, YYYY'
            }
        },

        select: function(start, end) {

            // on select we show the Sweet Alert modal with an input
            swal({
                title: 'Create an Event',
                html: '<div class="form-group">' +
                                '<input class="form-control" placeholder="Event Title" id="input-field">' +
                            '</div>',
                showCancelButton: true,
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                        buttonsStyling: false
                    }).then(function(result) {

                        var eventData;
                        event_title = $('#input-field').val();

                        if (event_title) {
                eventData = {
                    title: event_title,
                    start: start,
                    end: end
                };
                $calendar.fullCalendar('renderEvent', eventData, true); // stick? = true
                }

                $calendar.fullCalendar('unselect');

            });
        },
        minTime: "08:00:00",
        maxTime: "18:00:00",
        height: 'auto',
        editable: false,
        eventLimit: true, // allow "more" link when too many events


        // color classes: [ event-blue | event-azure | event-green | event-orange | event-red ]
        events: "{% url 'calendar.json' %}",
    });
</script>
<!-- End Calendar -->

{% endblock %}

{% block extra_script %}
<script>
    $(document).ready(function(){

        function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        console.log(csrftoken);
                
        //Ajax call
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    });
</script>
{% endblock %}