{% extends "account/base.html" %}
{% load widget_tweaks %}


{% block title %}
    Edit {{ course.title }}
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

<!-- Edit course card -->
<div class="row">
    <div class="card">
        <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
                <i class="material-icons">edit</i>
            </div>
            <h4 class="card-title">{{ course.title }}</h4>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'edit_course' course.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if field == form.requirements or field == form.major %}
                        {{ field }}
                    {% else %}
                        {{field|add_class:"form-control"}}
                    {% endif %}
                {% endfor %}
                <div class="clearfix"></div>
                <button type="submit" class="btn btn-success pull-right">Edit</button>
            </form>
        </div>
    </div>
</div>
<!-- End edit course card -->

{% endblock %}