{% extends "account/base.html" %}
{% load widget_tweaks %}


{% block title %}
    Edit Course Offering
{% endblock %}

{% block extra_head %}
<style>
.scroll {
   overflow-y:scroll;
   height:400px;
   display:block;
   width:75%;
}

.center {
    width:100%; 
    margin-left:15%; 
    margin-right:15%;
    display:block;
}
</style>
{% endblock %}

{% block content %}
<a href="{% url 'course_by_semester' course_offering.semester %}"><button type="button" class="btn btn-default">
    <i class="material-icons">arrow_back_ios</i> Back
</button></a>
<!-- Offering -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">Edit Course Offering
                </h4>
            </div>

            <div class="card-body">

                <form class="form" method="POST" action="{% url 'edit_course_offering' course_offering.pk %}">
                    {% csrf_token %}
                    <div class="row">
                    {% for field in form %}
                        <div class="col-md-6">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% if field == form.course %}
                            {{field|add_class:"form-control"}}
                            {% else %}
                            {{field|add_class:"form-control"}}
                            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-success pull-right">Edit</button>
                </form>
                
            </div>
        </div>
    </div>
</div>
<!-- End Offering -->

<!-- Students table -->
<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Student List
            <button type="button" rel="tooltip" class="btn btn-success btn-fab btn-fab-mini btn-round pull-right student-list" data-toggle="modal" data-target="#AddStudentModal" style="margin-right:10px">
                <i class="material-icons">add</i>
            </button>
            </h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="EnrollStudent" class="table datatables" style="width:100%">
                    <thead>
                        <tr>
                          <th class="text-center">No.</th>
                          <th class="text-center">Username</th>
                          <th class="text-center">First Name</th>
                          <th class="text-center">Last Name</th>
                          <th class="text-center">Entrance Year</th>
                          <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for grade in grades %}
                        <tr id="{{ grade.student.username }}-row">
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td class="text-center">{{ grade.student.username }}</td>
                            <td class="text-center">{{ grade.student.first_name }}</td>
                            <td class="text-center">{{ grade.student.last_name }}</td>
                            <td class="text-center">{{ grade.student.entrance }}</td>
                            <td class="td-actions text-right">
                            <button type="button" rel="tooltip" class="btn round btn-danger drop" data-original-title="" title="" value="{{ grade.student.username }}">
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Students table -->

<!-- Add student modal -->
<div class="modal fade" id="AddStudentModal" tabindex="-1" role="">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-success text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title">Add Students</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="center">
                        <label for="SelectEntrance">Select Entrance: </label>
                        <select id="SelectEntrance">
                            <option value="all">All</option>
                            {% for entrance in entrances %}
                            <option value="{{entrance.year}}">{{ entrance.year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="table-responsive center">
                        <table id="AddStudent" class="table scroll">
                            <thead>
                                <tr>
                                    <th class="text-center">Username</th>
                                    <th class="text-center">First Name</th>
                                    <th class="text-center">Last Name</th>
                                    <th class="text-center">Entrance Year</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End add student modal -->

{% endblock %}

{% block extra_script %}
<script>
    $(document).ready(function(){

        function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        console.log(csrftoken);
                
        //Ajax call
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(document).on("click", ".student-list" , function() {
            $('#SelectEntrance option[value="all"]').attr("selected",true);
            $.ajax({
                type: 'GET',
                url: "{% url 'student.json' course_offering.pk %}",
                success: function(data){
                    $('#AddStudent tbody').empty();
                    $.each(data, function(key,value){
                        var username = value['username'];
                        var first_name = value['first_name'];
                        var last_name = value['last_name'];
                        var year = value['year'];
                        var string = "<tr id='add-"+username+"-row' class='"+year+" add-row'>"+
                            "<td class='text-center'>"+username+"</td>"+
                            "<td class='text-center'>"+first_name+"</td>"+
                            "<td class='text-center'>"+last_name+"</td>"+
                            "<td class='text-center'>"+year+"</td>"+
                            "<td class='text-center'>"+
                                "<button class='btn btn-success add-student' value='"+username+"'>Add</button>"+
                            "</td>"+
                        "</tr>";
                        $('#AddStudent tbody').append(string);
                    })
                }
            })
        });

        $(document).on("click", ".add-student" , function() {
            var username = $(this).val();

            var user = {
                username:username,
            };

            $.ajax({
                type: 'POST',
                url: "{% url 'student.json' course_offering.pk %}",
                dataType: 'JSON',
                data: JSON.stringify(user),
                success: function(data){
                    if(data['message']==null){
                        var number = data['no.'];
                        var username = data['username'];
                        var first_name = data['first_name'];
                        var last_name = data['last_name'];
                        var year = data['year'];
                        var string = "<tr id='"+username+"-row'>"+
                            "<td class='text-center'>"+number+"</td>"+
                            "<td class='text-center'>"+username+"</td>"+
                            "<td class='text-center'>"+first_name+"</td>"+
                            "<td class='text-center'>"+last_name+"</td>"+
                            "<td class='text-center'>"+year+"</td>"+
                            "<td class='td-actions text-right'><button type='button' rel='tooltip' class='btn round btn-danger drop' data-original-title='' title='' value='"+username+"'>"+
                            "<i class='material-icons'>close</i></button></td>"+
                        "</tr>";
                        $('#EnrollStudent tbody').append(string);
                        var id = "#add-"+username+"-row";
                        $(id).remove();
                    }
                    else{
                        alert(data['message']);
                    }
                }
            })
        });

        $(document).on("click", ".drop" , function() {
            var username = $(this).val();

            var user = {
                username:username,
            };

            $.ajax({
                type: 'DELETE',
                url: "{% url 'student.json' course_offering.pk %}",
                dataType: 'JSON',
                data: JSON.stringify(user),
                success: function(data){
                    var id = "#" + data.username + "-row";
                    $(id).remove();
                }
            })
        });
        
        $("#SelectEntrance").on("change", function() {
            var selected = $(this).val();
            selected = selected.trim();
            if(selected.localeCompare("all")==0){
                $(".add-row").removeAttr("hidden");
            }
            else{
                selected = "." + selected;
                $(".add-row").attr("hidden",true);
                $(selected).removeAttr("hidden");
            }
        })
    });
</script>
{% endblock %}