{% extends "account/base.html" %}
{% load widget_tweaks %}


{% block title %}
    Edit Semester
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

<!-- semester table -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">Edit Semester
                </h4>
            </div>

            <div class="card-body">
                
                <form class="form" method="POST" >
                    {% csrf_token %}
                    {{semester_form.as_p}}
                    <button type="submit" class="btn btn-success pull-right">Edit</button>
                </form>
                
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-left">Entrance</th>
                                <th class="text-center">Enroll Start</th>
                                <th class="text-center">Enroll End</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entrance in entrances %}
                            <tr id="{{ course.pk }}-row">
                                <td class="text-left">{{ entrance.year }}{% if forloop.last %} and older{% endif %}</td>
                                <td class="text-center">{{ entrance.start_enroll|date:'d/m/Y, H:i' }}</td>
                                <td class="text-center">{{ entrance.end_enroll|date:'d/m/Y, H:i' }}</td>
                                <td class="text-right">
                                    <button type="button" rel="tooltip" class="btn btn-success btn-fab btn-fab-mini btn-round pull-right edit-enroll-date" data-toggle="modal" data-target="#EnrollDateForm" style="margin-right:10px" value="{% url 'edit_enroll_date' semester.pk entrance.pk %}">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End semester table -->

<!-- EnrollDateForm -->
<div class="modal fade" id="EnrollDateForm" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-success text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title">Edit Enroll Date</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form enroll-date" method="POST">
                        {% csrf_token %}
                        <div class="card-body">
                        {{ form.as_p }}
                        <div class="clearfix"></div>

                        </div>
                        <button type="submit" class="btn btn-success btn-link pull-right">Edit</button>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End EnrollDateForm -->
<script>
    $('.edit-enroll-date').on('click',function(){
        var url = $(this).val();
        $('.enroll-date').attr('action',url);
    })
</script>
{% endblock %}

{% block extra_script %}
<script>
    $(document).ready(function(){

        function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        console.log(csrftoken);
                
        //Ajax call
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(".edit").on('click',function(){
            var pk = $(this).val();
            var action = $("i", this).text();
            var course = {
                pk:pk,
                action:action,
            };

            $.ajax({
                type: 'PUT',
                url: "{% url 'course.json' %}",
                dataType: 'JSON',
                data: JSON.stringify(course),
                success: function(data){
                    var id = "#" + data.pk + "-status";
                    $(id).text(data.status);
                }
            })
        });
        
        $(".delete").on('click',function(){
            var pk = $(this).val();
            var course = {
                pk:pk
            };

            $.ajax({
                type: 'DELETE',
                url: "{% url 'course.json' %}",
                dataType: 'JSON',
                data: JSON.stringify(course),
                success: function(data){
                    var id = "#" + data.pk + "-row";
                    $(id).remove();
                }
            })
        });

        $(".DeleteSemester").on('click',function(){
            var pk = $(this).val();
            var semester = {
                pk:pk
            };

            $.ajax({
                type: 'DELETE',
                url: "{% url 'semester.json' %}",
                dataType: 'JSON',
                data: JSON.stringify(semester),
                success: function(data){
                    var id = "#" + data.pk + "-semester-row";
                    $(id).remove();
                }
            })
        });

    });
</script>
{% endblock %}