{% extends "account/base.html" %}
{% load widget_tweaks %}

{% block title %}
    Event Management
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

<!-- Attendee table -->
<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">{{ event.title }}</h4>
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table datatables" style="width:100%">
                    <thead>
                        <tr>
                          <th class="text-left">Username</th>
                          <th class="text-center">First Name</th>
                          <th class="text-center">Last Name</th>
                          <th class="text-center">Email</th>
                          <th class="text-center">Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for attendee in attendees %}
                        <tr>
                          <td class="text-left"><a href="{% url 'profile' attendee.username %}">{{ attendee.username }}</a></td>
                          <td class="text-center">{{ attendee.first_name }}</td>
                          <td class="text-center">{{ attendee.last_name }}</td>
                          <td class="text-center">{{ attendee.email }}</td>
                          <td class="text-center">{{ attendee.profile.role }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Attendee table -->

{% endblock %}