{% extends "account/base.html" %}
{% load widget_tweaks %}

{% block title %}
    Event Management
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

<!-- Event table -->
<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Event Management</h4>
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table datatables" style="width:100%">
                    <thead>
                        <tr>
                          <th class="text-left">Title</th>
                          <th class="text-center">Created</th>
                          <th class="text-center">Created By</th>
                          <th class="text-center">Join Event</th>
                          <th class="text-center">Date</th>
                          <th class="text-center">Time</th>
                          <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                        <tr id="{{ event.pk }}-row">
                          <td class="text-left"><a href="{% url 'event_detail' event.pk %}">{{ event.title|truncatewords:5 }}</a></td>
                          <td class="text-center">{{ event.created }}</td>
                          <td class="text-center">{{ event.created_by }}</td>
                          <td class="text-center">{% if event.join == True %}Yes{% else %}No{% endif %}</td>
                          <td class="text-center">{% if event.join == True %}{{ event.ondate }}{% endif %}</td>
                          <td class="text-center">{% if event.join == True %}{{ event.start_time|date:'g:i A' }} - {{ event.end_time|date:'g:i A' }}{% endif %}</td>
                          <td class="td-actions text-right">
                            <a href="{% url 'join_list' event.pk %}"><button type="button" rel="tooltip" class="btn round btn-info">
                              <i class="material-icons">people</i>
                            </button></a>
                            <a href="{% url 'edit_event' event.pk %}"><button type="button" rel="tooltip" class="btn round btn-success" data-original-title="" title="" value="{{ post.id }}">
                              <i class="material-icons">edit</i>
                            </button></a>
                            <a href="{% url 'event_delete' event.pk %}"><button type="button" rel="tooltip" class="btn round btn-danger" data-original-title="" title="" value="{{ post.id }}">
                              <i class="material-icons">delete</i>
                            </button></a>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Post table -->

{% endblock %}