{% extends "account/base.html" %}
{% load widget_tweaks %}


{% block title %}
    Course Offering Management
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

<!-- semester table -->
{% if not semester %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">Semester Management
                    <button type="button" rel="tooltip" class="btn btn-success btn-fab btn-fab-mini btn-round pull-right" data-toggle="modal" data-target="#createsemesterModal" style="margin-right:10px">
                        <i class="material-icons">add</i>
                    </button>
                </h4>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table semester-datatables" style="width:100%">
                        <thead>
                            <tr>
                            <th class="text-left">Semester</th>
                            <th class="text-center">Start Date(d/m/y)</th>
                            <th class="text-center">End Date(d/m/y)</th>
                            <th class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for semester in semesters %}
                            <tr id="{{ semester.pk }}-semester-row">
                                <td class="text-left" id="{{ semester.pk }}"><a href="{% url 'course_by_semester' semester.pk %}">{{ semester.pk }}</a></td>
                                <th class="text-center">{{ semester.start|date:'d/m/Y' }}</th>
                                <th class="text-center">{{ semester.end|date:'d/m/Y' }}</th>
                                <td class="td-actions text-right">
                                    <a href="{% url 'edit_semester' semester.pk %}" class="btn round btn-success"><i class="material-icons">edit</i></a>
                                    <button type="button" rel="tooltip" class="btn round btn-danger DeleteSemester" data-original-title="" title="" value="{{ semester.pk }}">
                                    <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td class="text-left">There is no semester</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- End semester table -->

<!-- Course table -->
<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Course Offering Management {% if semester %} ({{ semester.pk }}) {% endif %}
            <button type="button" rel="tooltip" class="btn btn-success btn-fab btn-fab-mini btn-round pull-right" data-toggle="modal" data-target="#createcourseModal" style="margin-right:10px">
                <i class="material-icons">add</i>
            </button>
            </h4>
            <br>
            <a href="{% url 'update_course_status' %}"><i class="fas fa-sync fa-lg fa-pull-right"></i></a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table datatables" style="width:100%">
                    <thead>
                        <tr>
                          <th class="text-left">Offering ID</th>
                          <th class="text-center">Course</th>
                          <th class="text-center">Day</th>
                            <th class="text-center">Time</th>
                          <th class="text-center">Max Students</th>
                          <th class="text-center">Slots</th>
                          <th class="text-center">Status</th>
                          <th class="text-center">Lecturer</th>
                          <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course_offering in course_offerings %}
                        <tr id="{{ course_offering.pk }}-row">
                            <td class="text-left"><a href="{% url 'elearning:course_offering_detail' course_offering.pk %}">{{ course_offering.offering_id }}</a></td>
                            <td class="text-center"><a href="{% url 'elearning:course_detail' course_offering.course.pk %}">{{ course_offering.course.title }}</a></td>
                            <td class="text-center">{{ course_offering.start_date|date:'D' }}</td>
                            <td class="text-center">{{ course_offering.start_time|date:'g:i A' }} - {{ course_offering.end_time|date:'g:i A' }}</td>
                            <td class="text-center">{{ course_offering.num_students }}</td>
                            <td class="text-center">{{ course_offering.slot }}</td>
                            <td class="text-center" id="{{course_offering.pk}}-status">{{ course_offering.status }}</td>
                            <td class="text-center">{{ course_offering.lecturer }}</td>
                            <td class="td-actions text-right">
                            <a href="{% url 'edit_course_offering' course_offering.pk %}"><button type="button" rel="tooltip" class="btn round btn-info view" data-original-title="" title="" value="{{ course_offering.pk }}">
                              <i class="material-icons">edit</i>
                            </button></a>
                            <button type="button" rel="tooltip" class="btn round btn-success edit" data-original-title="" title="" value="{{ course_offering.pk }}">
                              <i class="material-icons">done</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn round btn-danger edit" data-original-title="" title="" value="{{ course_offering.pk }}">
                              <i class="material-icons">close</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn round btn-danger delete" data-original-title="" title="" value="{{ course_offering.pk }}">
                              <i class="material-icons">delete</i>
                            </button>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Course table -->

<!-- Create course_offering modal -->
<div class="modal fade" id="createcourseModal" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-success text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title">Create Course Offering</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="POST" {% if semester %} action="{% url 'course_by_semester' semester.pk %}" {% else %} action="{% url 'manage_course_offering' %}" {% endif %}>
                        {% csrf_token %}
                        <div class="card-body">

                        {% for field in form %}
                            {% if semester and field == form.semester %}
                            <input type="hidden" name="semester" value="{{ semester.pk }}">
                            {% else %}
                            <label>{{ field.label }}</label>
                            <p>{{ field|add_class:"form-control" }}</p>
                            {% endif %}
                        {% endfor %}

                        <div class="clearfix"></div>

                        </div>
                        <button type="submit" class="btn btn-success btn-link pull-right">Create</button>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Create course_offering modal -->

<!-- Create Semester modal -->
<div class="modal fade" id="createsemesterModal" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-success text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title">Create Semester</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="POST" action="{% url 'manage_course_offering' %}">
                        {% csrf_token %}
                        <div class="card-body">
                            {% for field in semester_form %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:"form-control" }}
                            {% endfor %}
                            <div class="clearfix"></div>

                        </div>
                        <button type="submit" class="btn btn-success btn-link pull-right">Create</button>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Create Semester modal -->

{% endblock %}

{% block extra_script %}
<script>
    $(document).ready(function(){

        function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        console.log(csrftoken);
                
        //Ajax call
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(document).on("click", ".edit" , function() {
            var pk = $(this).val();
            var action = $("i", this).text();
            var course_offering = {
                pk:pk,
                action:action,
            };

            $.ajax({
                type: 'PUT',
                url: "{% url 'course_offering.json' %}",
                dataType: 'JSON',
                data: JSON.stringify(course_offering),
                success: function(data){
                    var id = "#" + data.pk + "-status";
                    $(id).text(data.status);
                }
            })
        });
        
        $(document).on("click", ".delete" , function() {
            var pk = $(this).val();
            var course_offering = {
                pk:pk
            };

            $.ajax({
                type: 'DELETE',
                url: "{% url 'course_offering.json' %}",
                dataType: 'JSON',
                data: JSON.stringify(course_offering),
                success: function(data){
                    var id = "#" + data.pk + "-row";
                    $(id).remove();
                }
            })
        });

        $(document).on("click", ".DeleteSemester" , function() {
            var pk = $(this).val();
            var semester = {
                pk:pk
            };

            $.ajax({
                type: 'DELETE',
                url: "{% url 'semester.json' %}",
                dataType: 'JSON',
                data: JSON.stringify(semester),
                success: function(data){
                    var id = "#" + data.pk + "-semester-row";
                    $(id).remove();
                }
            })
        });

    });
</script>
<script>
    $(document).ready(function() {
        $('.semester-datatables').DataTable({
            "ordering": false,
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }
        });

        var table = $('.datatable').DataTable();
    });
</script>
{% endblock %}