{% extends "account/base.html" %}

{% block title %}
    User Management
{% endblock %}

{% block extra_head %}
<style>
.perm {
   overflow-y:scroll;
   height:400px;
   display:block;
}
</style>
{% endblock %}

{% block content %}

<!-- Group table -->
<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Group Management
            <button id="addgroup" type="button" rel="tooltip" class="btn btn-success btn-fab btn-fab-mini btn-round pull-right" data-toggle="modal" data-target="#groupModal">
                <i class="material-icons">group_add</i>
            </button> 
            </h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="groupTable">
                    <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th class="text-center">Group</th>
                          <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for group in groups %}
                        <tr id="{{ group.name }}-row">
                          <td class="text-center">{{ forloop.counter }}</td>
                          <td class="text-center">{{ group.name }}</td>
                          <td class="td-actions text-right">
                            <button type="button" rel="tooltip" class="btn round btn-info" data-original-title="" title="">
                              <i class="material-icons">person</i>
                            </button>

                            <button type="button" rel="tooltip" class="btn round btn-success editGroup" data-original-title="" title="" value="{{ group.name }}">
                              <i class="material-icons">edit</i>
                            </button>

                            <button type="button" rel="tooltip" class="btn round btn-danger deleteGroup" data-original-title="" title="" value="{{ group.name }}">
                              <i class="material-icons">delete</i>
                            </button>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Group table -->

<!-- Add Group modal -->
<div class="modal fade" id="groupModal" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-success text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title">Create Group</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="POST" action="{% url 'manage_group' %}">
                        {% csrf_token %}
                        <div class="card-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Group name</label>
                                    <input type="text" name="group_name" class="form-control" required>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped perm">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Permission</th>
                                        <th class="text-center">Code name</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for permission in permissions %}
                                    <tr>
                                        <td class="text-center">{{ forloop.counter }}</td>
                                        <td class="text-center">{{ permission.name }}</td>
                                        <td class="text-center">{{ permission.codename }}</td>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="checks" value="{{ permission.codename }}">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>

                        </div>
                        <button type="submit" class="btn btn-success btn-link pull-right">Create</button>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Add Group modal -->

<!-- Edit Group modal -->
<div class="modal fade" id="editgroupModal" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-success text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title">Edit Group</h4>
                    </div>
                </div>
                <div class="modal-body">
                        <div class="card-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label>Group name</label>
                                    <input type="text" name="group_name" class="form-control" disabled="" id="edit_group_name">
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped perm">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Permission</th>
                                        <th class="text-center">Code name</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for permission in permissions %}
                                    <tr>
                                        <td class="text-center">{{ forloop.counter }}</td>
                                        <td class="text-center">{{ permission.name }}</td>
                                        <td class="text-center">{{ permission.codename }}</td>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="checks" value="{{ permission.codename }}">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>

                        </div>
                        <button class="btn btn-success btn-link pull-right editButton">Edit</button>
                </div>
                <div class="modal-footer justify-content-center">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Edit Group modal -->
{% endblock %}

{% block extra_script %}
<script>
    $(document).ready(function(){

        function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        console.log(csrftoken);
                
        //Ajax call
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(".editGroup").on('click',function(){
            var name = $(this).val();
            $("#edit_group_name").val(name);
            $('input[type="checkbox"]').prop("checked",false);
            var group = {
                name: name,
            }

            $.ajax({
                type: 'POST',
                url: "group.json",
                dataType: 'JSON',
                data: JSON.stringify(group),
                success: function(data){
                    $.each(data,function(i,item){
                        var codename = item.codename;
                        $("#editgroupModal :input[value="+codename+"]").prop("checked",true);
                    });
                    $("#editgroupModal").modal();
                }
            })
        });
    
        $(".editButton").on('click',function(){
            var name = $("#edit_group_name").val();
            var perms = [];
            $.each($("input[name='checks']:checked"), function(){
                perms.push($(this).val());             
            });

            var group = {
                name: name,
                perms: perms,
            }

            $.ajax({
                type: 'PUT',
                url: "group.json",
                headers: {'X-CSRFToken':'{{csrf_token}}'},
                dataType: 'JSON',
                data: JSON.stringify(group),
                success: function(data){
                    $("#editgroupModal").modal('hide');
                }
            })
        });

        $(".deleteGroup").on('click',function(){
            var name = $(this).val();
            
            var group = {
                name: name,
            }

            $.ajax({
                type: 'DELETE',
                url: "group.json",
                dataType: 'JSON',
                data: JSON.stringify(group),
                success: function(data){
                    id = "#" + name + "-row";
                    $(id).remove();
                }
            })
        });

    });
</script>
{% endblock %}