{% extends "account/base.html" %}

{% block title %}
    {% if role == 'student' %}
        {{ entrance.year }} Students Management
    {% elif role == 'staff' %}
        Staff Management
    {% elif role == 'professor' %}
        Professor Management
    {% endif %}
{% endblock %}

{% block extra_head %}
<style>
.perm {
   overflow-y:scroll;
   height:400px;
   display:block;
}
</style>
{% endblock %}

{% block content %}

<!-- User table -->
<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">
                {% if role == 'student' %}
                    {{ entrance.year }} Student Management
                {% elif role == 'staff' %}
                    Staff Management
                {% elif role == 'professor' %}
                    Professor Management
                {% endif %}
            <button type="button" rel="tooltip" class="btn btn-success btn-fab btn-fab-mini btn-round pull-right" data-toggle="modal" data-target="#signupModal" style="margin-right:10px">
                <i class="material-icons">person_add</i>
            </button>
            </h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table datatables" style="width:100%">
                    <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th class="text-center">Username</th>
                          <th class="text-center">Email</th>
                          <th class="text-center">Group</th>
                          <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr id="{{ user.username }}-row">
                          <td class="text-center">{{ forloop.counter }}</td>
                          <td class="text-center">{{ user.username }}</td>
                          <td class="text-center">{{ user.email }}</td>
                          <td class="text-center"><button class="btn btn-link add-user-group" value="{{ user.username }}">Group</button></td>
                          <td class="td-actions text-right">
                            <a href="{% url 'profile' user.username %}">
                            <button type="button" rel="tooltip" class="btn round btn-info" data-original-title="" title="">
                              <i class="material-icons">person</i>
                            </button>
                            </a>
                            <button type="button" rel="tooltip" class="btn round btn-danger delete-user" value="{{ user.username }}" data-original-title="" title="">
                              <i class="material-icons">delete</i>
                            </button>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End User table -->

<!-- Create User modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-success text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title">Create User</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="POST" {% if role == 'student' %} action="{% url 'manage_student' entrance.year %}" {% else %} action="{% url 'manage_user' role %}" {% endif %}>
                        {% csrf_token %}
                        <div class="card-body">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Username</label>
                                    <input type="text" name="username" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Password</label>
                                    <input type="password" name="password" class="form-control" value="" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Email address</label>
                                    <input type="email" name="email" class="form-control" value="" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Fist Name</label>
                                    <input type="text" name="first_name" class="form-control" value="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Last Name</label>
                                    <input type="text" name="last_name" class="form-control" value="">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Birthday</label>
                                    <input type="date" name="birth_date" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Major</label>
                                    <input type="text" name="major" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group is-filled">
                                    <label class="bmd-label-floating">Role</label>
                                    <select type="text" name="role" class="form-control" disabled>
                                        <option value="student" {% if role == 'student' %} selected {% endif %}>Student</option>
                                        <option value="professor" {% if role == 'professor' %} selected {% endif %}>Professor</option>
                                        <option value="staff" {% if role == 'staff' %} selected {% endif %}>Staff</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">ID</label>
                                    <input type="text" name="student_id" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Phone number</label>
                                    <input type="text" name="phone_num" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <div class="form-group bmd-form-group">
                                        <textarea name="bio" class="form-control" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        </div>
                        <button type="submit" class="btn btn-success btn-link pull-right">Create</button>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Create User modal -->

<!-- Add to group modal -->
<div class="modal fade" id="addtogroupModal" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-success text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title">Add To Group</h4>
                    </div>
                </div>
                <div class="modal-body">
                        <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Group</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for group in groups %}
                                    <tr>
                                        <td class="text-center">{{ forloop.counter }}</td>
                                        <td class="text-center">{{ group.name }}</td>
                                        <td>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="checks" value="{{ group.name }}">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>

                        </div>
                        <button class="btn btn-success btn-link pull-right" id="editButton">Edit</button>
                </div>
                <div class="modal-footer justify-content-center">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Add to Group modal -->

<script>

    $(document).ready(function(){
        
        var username=" ";

        $(".add-user-group").on('click',function(){
            username = $(this).val();
            
            $('input[type="checkbox"]').prop("checked",false);
            var user = {
                username: username,
            }

            $.ajax({
                type: 'POST',
                url: "{% url 'user.json' %}",
                headers: {'X-CSRFToken':'{{csrf_token}}'},
                dataType: 'JSON',
                data: JSON.stringify(user),
                success: function(data){
                    $.each(data,function(i,item){
                        var name = item.name;
                        $('input[value="'+name+'"]').prop("checked",true);
                    });
                    $("#addtogroupModal").modal();
                }
            })
        });

        $("#editButton").on('click',function(){
            
            var groups = [];
            $.each($("input[name='checks']:checked"), function(){
                groups.push($(this).val());             
            });

            var user = {
                username: username,
                groups: groups,
            }

            $.ajax({
                type: 'PUT',
                url: "{% url 'user.json' %}",
                headers: {'X-CSRFToken':'{{csrf_token}}'},
                dataType: 'JSON',
                data: JSON.stringify(user),
                success: function(data){
                    $("#addtogroupModal").modal('hide');
                }
            })
        });

        $(".delete-user").on('click',function(){
            username = $(this).val();
            var user = {
                username: username,
            }

            $.ajax({
                type: 'Delete',
                url: "{% url 'user.json' %}",
                headers: {'X-CSRFToken':'{{csrf_token}}'},
                dataType: 'JSON',
                data: JSON.stringify(user),
                success: function(){
                    var id = "#" + username + "-row";
                    $(id).remove();
                }
            })
        });

    });

</script>

{% endblock %}

{% block extra_script %}

{% endblock %}