{% extends "account/base.html" %}
{% load widget_tweaks %}

{% block title %}
    Post Management
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

<!-- Category table -->
<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Category Management
                <button type="button" rel="tooltip" class="btn btn-success btn-fab btn-fab-mini btn-round pull-right" data-toggle="modal" data-target="#CreateCategoryModal" style="margin-right:10px">
                    <i class="material-icons">add</i>
                </button>
            </h4>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table datatables" style="width:100%">
                    <thead>
                        <tr>
                          <th class="text-left">Category</th>
                          <th class="text-right"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                        <tr id="{{ category.slug }}-category-row">
                            <td class="text-left" id="{{ category.slug }}">{{ category.name }}</td>
                            <td class="td-actions text-right">
                                <button type="button" rel="tooltip" class="btn round btn-danger DeleteCategory" data-original-title="" title="" value="{{ category.slug }}">
                                <i class="material-icons">delete</i>
                                </button>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td class="text-left">There is no category</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Category table -->

<!-- Post table -->
<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Post Management</h4>
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table datatables" style="width:100%">
                    <thead>
                        <tr>
                          <th class="text-left">Title</th>
                          <th class="text-center">Author</th>
                          <th class="text-center">Created</th>
                          <th class="text-center">Status</th>
                          <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                        <tr id="{{ post.id }}-row">
                          <td class="text-left"><a href="{% url 'forum:post_detail' post.category.pk post.pk %}">{{ post.title }}</a></td>
                          <td class="text-center">{{ post.author }}</td>
                          <td class="text-center">{{ post.created }}</td>
                          <td class="text-center" id="{{post.id}}-status">{{ post.status }}</td>
                          <td class="td-actions text-right">
                            <button type="button" rel="tooltip" class="btn round btn-info view" data-original-title="" title="" value="{{ post.id }}">
                              <i class="material-icons">pageview</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn round btn-success done" data-original-title="" title="" value="{{ post.id }}">
                              <i class="material-icons">done</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn round btn-danger DeletePost" data-original-title="" title="" value="{{ post.id }}">
                              <i class="material-icons">delete</i>
                            </button>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Post table -->

<!-- Post view modal -->
<div class="modal fade" id="postviewModal" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-success text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title" id="post-title"></h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="fr-view">
		            {% autoescape off %}
                        <div id="post-body">
                        </div>
                    {% endautoescape %}
	                </div>
                </div>
                <div class="modal-footer justify-content-center">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Post view modal -->

<!-- Create Category modal -->
<div class="modal fade" id="CreateCategoryModal" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-success text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title">Create Category</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="POST" action="{% url 'manage_post' %}">
                        {% csrf_token %}
                        <div class="card-body">
                            {% for field in category_form %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{field|add_class:"form-control"}}
                            {% endfor %}
                            <div class="clearfix"></div>

                        </div>
                        <button type="submit" class="btn btn-success btn-link pull-right">Create</button>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Create category modal -->

{% endblock %}

{% block extra_script %}
<script>
    $(document).ready(function(){

        function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        console.log(csrftoken);
                
        //Ajax call
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(".view").on('click',function(){
            var id = $(this).val();

            $.ajax({
                type: 'GET',
                url: "{% url 'post.json' %}",
                data: {"id":id},
                success: function(data){
                    $("#post-title").text(data.title);
                    $("#post-body").html(data.body);
                    $("#postviewModal").modal();
                }
            })
        });

        $(".done").on('click',function(){
            var id = $(this).val();
            var post = {
                id:id
            };

            $.ajax({
                type: 'PUT',
                url: "{% url 'post.json' %}",
                dataType: 'JSON',
                data: JSON.stringify(post),
                success: function(data){
                    var id = "#" + data.id + "-status";
                    $(id).text(data.status);
                }
            })
        });
        
        $(".DeletePost").on('click',function(){
            var id = $(this).val();
            var post = {
                id:id
            };

            $.ajax({
                type: 'DELETE',
                url: "{% url 'post.json' %}",
                dataType: 'JSON',
                data: JSON.stringify(post),
                success: function(data){
                    var id = "#" + data.id + "-row";
                    $(id).remove();
                }
            })
        });

        $(".DeleteCategory").on('click',function(){
            var slug = $(this).val();
            var category = {
                slug:slug
            };

            $.ajax({
                type: 'DELETE',
                url: "{% url 'post_category.json' %}",
                dataType: 'JSON',
                data: JSON.stringify(category),
                success: function(data){
                    var slug = "#" + data.slug + "-category-row";
                    $(slug).remove();
                }
            })
        });
    });
</script>
{% endblock %}