{% extends "account/base.html" %}
{% load widget_tweaks %}

{% block title %}
    Entrance Management
{% endblock %}

{% block extra_head %}
<style>
.perm {
   overflow-y:scroll;
   height:400px;
   display:block;
}
</style>
{% endblock %}

{% block content %}

<!-- User table -->
<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Entrance Management
            <button type="button" rel="tooltip" class="btn btn-success btn-fab btn-fab-mini btn-round pull-right" data-toggle="modal" data-target="#CreateEntranceModal" style="margin-right:10px">
                <i class="material-icons">add</i>
            </button>
            </h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table datatables" style="width:100%">
                    <thead>
                        <tr>
                          {% comment %} <th class="text-center">#</th> {% endcomment %}
                          <th class="text-center">Year</th>
                          <th class="text-center">Advisor</th>
                          <th class="text-center">Number of students</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entrance in entrances %}
                        <tr id="{{ entrance.year }}-row">
                          {% comment %} <td class="text-center">{{ forloop.counter }}</td> {% endcomment %}
                          <td class="text-center"><a href="{% url 'manage_student' entrance.year %}">{{ entrance.year }}</a></td>
                          <td class="text-center">{{ entrance.advisor.username }}</td>
                          <td class="text-center">{{ entrance.student.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End User table -->

<!-- Create Entrance modal -->
<div class="modal fade" id="CreateEntranceModal" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-success text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title">Create Entrance</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="POST" action="{% url 'add_entrance' %}">
                        {% csrf_token %}
                        <div class="card-body">
                            {% for field in form %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:"form-control" }}
                            {% endfor %}
                        <div class="clearfix"></div>

                        </div>
                        <button type="submit" class="btn btn-success btn-link pull-right">Create</button>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Create Entrance modal -->

{% endblock %}

{% block extra_script %}

{% endblock %}