{% extends "account/base.html" %}
{% load widget_tweaks %}


{% block title %}
    Course Management
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

<!-- Import file -->
<div class="row">
    <form class="form" method="POST" action="{% url 'readfile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="load">
        <button type="submit" class="btn btn-success btn-link">Submit</button>
    </form>
</div>
<!-- End import file -->

<!-- major table -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">Major Management
                    <button type="button" rel="tooltip" class="btn btn-success btn-fab btn-fab-mini btn-round pull-right" data-toggle="modal" data-target="#createmajorModal" style="margin-right:10px">
                        <i class="material-icons">add</i>
                    </button>
                </h4>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table datatables" style="width:100%">
                        <thead>
                            <tr>
                            <th class="text-left">Major</th>
                            <th class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for major in majors %}
                            <tr id="{{ major.pk }}-major-row">
                                <td class="text-left" id="{{ major.pk }}">{{ major.name }}</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" class="btn round btn-danger DeleteMajor" data-original-title="" title="" value="{{ major.pk }}">
                                    <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td class="text-left">There is no major</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End major table -->

<!-- Course table -->
<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Course Management
            <button type="button" rel="tooltip" class="btn btn-success btn-fab btn-fab-mini btn-round pull-right" data-toggle="modal" data-target="#createsubjectModal" style="margin-right:10px">
                <i class="material-icons">add</i>
            </button>
            </h4>
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table datatables" style="width:100%">
                    <thead>
                        <tr>
                          <th class="text-left">Title</th>
                          <th class="text-center">Semester</th>
                          <th class="text-center">Credits</th>
                          <th class="text-center">Category</th>
                          <th class="text-center">Created By</th>
                          <th class="text-center">Status</th>
                          <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                        <tr id="{{ course.pk }}-row">
                          <td class="text-left"><a href="{% url 'elearning:course_detail' course.pk %}">{{ course.title }}</a></td>
                          <td class="text-center">{{ course.semester }}</td>
                          <td class="text-center">{{ course.num_credits }}</td>
                          <td class="text-center">{{ course.category }}</td>
                          <td class="text-center">{{ course.created_by }}</td>
                          <td class="text-center" id="{{course.pk}}-status">{{ course.status }}</td>
                          <td class="td-actions text-right">
                            <a href="{% url 'edit_course' course.pk %}"><button  type="button" rel="tooltip" class="btn round btn-info view" data-original-title="" title="" value="{{ course.pk }}">
                              <i class="material-icons">edit</i>
                            </button></a>
                            <button type="button" rel="tooltip" class="btn round btn-success edit" data-original-title="" title="" value="{{ course.pk }}">
                              <i class="material-icons">done</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn round btn-danger edit" data-original-title="" title="" value="{{ course.pk }}">
                              <i class="material-icons">close</i>
                            </button>
                            <button type="button" rel="tooltip" class="btn round btn-danger delete" data-original-title="" title="" value="{{ course.pk }}">
                              <i class="material-icons">delete</i>
                            </button>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Course table -->

<!-- Create course modal -->
<div class="modal fade" id="createsubjectModal" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-success text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title">Create Course</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="POST" action="{% url 'manage_course' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            <table>
                            {% for field in course_form %}
                            <tr>
                                <td>
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                </td>
                                <td>{{ field }}</td>
                            </tr>
                            {% endfor %}
                            </table>
                            <div class="clearfix"></div>

                        </div>
                        <button type="submit" class="btn btn-success btn-link pull-right">Create</button>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Create course modal -->

<!-- Create major modal -->
<div class="modal fade" id="createmajorModal" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-success text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title">Create Major</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="POST" action="{% url 'manage_course' %}">
                        {% csrf_token %}
                        <div class="card-body">
                            {% for field in major_form %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field|add_class:"form-control" }}
                            {% endfor %}
                            <div class="clearfix"></div>

                        </div>
                        <button type="submit" class="btn btn-success btn-link pull-right">Create</button>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Create major modal -->

{% endblock %}

{% block extra_script %}
<script>
    $(document).ready(function(){

        function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        console.log(csrftoken);
                
        //Ajax call
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(document).on("click", ".edit" , function() {
            var pk = $(this).val();
            var action = $("i", this).text();
            var course = {
                pk:pk,
                action:action,
            };

            $.ajax({
                type: 'PUT',
                url: "{% url 'course.json' %}",
                dataType: 'JSON',
                data: JSON.stringify(course),
                success: function(data){
                    var id = "#" + data.pk + "-status";
                    $(id).text(data.status);
                }
            })
        });
        
        $(document).on("click", ".delete" , function() {
            var pk = $(this).val();
            var course = {
                pk:pk
            };

            $.ajax({
                type: 'DELETE',
                url: "{% url 'course.json' %}",
                dataType: 'JSON',
                data: JSON.stringify(course),
                success: function(data){
                    var id = "#" + data.pk + "-row";
                    $(id).remove();
                }
            })
        });

        $(document).on("click", ".DeleteMajor" , function() {
            var pk = $(this).val();
            var major = {
                pk:pk
            };

            $.ajax({
                type: 'DELETE',
                url: "{% url 'major.json' %}",
                dataType: 'JSON',
                data: JSON.stringify(major),
                success: function(data){
                    var pk = "#" + data.pk + "-major-row";
                    $(pk).remove();
                }
            })
        });
    });
</script>

{% endblock %}