{% extends "account/base.html" %}
{% load widget_tweaks %}


{% block title %}
    My Courses
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

<!-- Course table -->
<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">My Courses
            {% if request.user.profile.role == 'professor' %}
            <button type="button" rel="tooltip" class="btn btn-success pull-right" data-toggle="modal" data-target="#createcourseModal" style="margin-right:10px">
                Request
            </button>
            {% endif %}
            </h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    {% if request.user.profile.role == 'student' %}
                    <thead>
                        <tr>
                            <th class="text-center">Course</th>
                            <th class="text-center">Course ID</th>
                            <th class="text-left">Offering ID</th>
                            <th class="text-center">Start Date</th>
                            <th class="text-center">Day</th>
                            <th class="text-center">Time</th>
                            <th class="text-center">Assignment</th>
                            <th class="text-center">Midterm</th>
                            <th class="text-center">Final</th>
                            <th class="text-center">Average</th>
                            <th class="text-center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for semester in semesters %}
                            <tr class="table-primary">
                                <td class="text-center"><strong>{{ semester.pk }}</strong></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                            {% for grade in my_courses %}
                                {% if grade.semester ==  semester %}
                                <tr id="{{ course_offering.pk }}-row">
                                    <td class="text-center"><a href="{% url 'elearning:course_detail' grade.course.pk %}">{{ grade.course.title }}</a></td>
                                    <td class="text-center">{{ grade.course.course_id }}</td>
                                    <td class="text-left"><a href="{% url 'elearning:course_offering_detail' grade.course_offering.pk %}">{{ grade.course_offering.offering_id }}</a></td>
                                    <td class="text-center">{{ grade.course_offering.start_date|date:'d/m/Y' }}</td>
                                    <td class="text-center">{{ grade.course_offering.start_date|date:'D' }}</td>
                                    <td class="text-center">{{ grade.course_offering.start_time|date:'g:i A' }} - {{ grade.course_offering.end_time|date:'g:i A' }}</td>
                                    <td class="text-center">{% if grade.assignment != None %}{{ grade.assignment }}{% endif %}</td>
                                    <td class="text-center">{% if grade.midterm != None %}{{ grade.midterm }}{% endif %}</td>
                                    <td class="text-center">{% if grade.final != None %}{{ grade.final }}{% endif %}</td>
                                    <td class="text-center">{% if grade.average != None %}{{ grade.average }}{% endif %}</td>
                                    <td class="text-center">{% if grade.status != None %}{{ grade.status }}{% endif %}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                    {% elif request.user.profile.role == 'professor' %}
                    <thead>
                        <tr>
                            <th class="text-center">Course</th>
                            <th class="text-center">Course ID</th>
                            <th class="text-left">Offering ID</th>
                            <th class="text-center">Start Date</th>
                            <th class="text-center">Day</th>
                            <th class="text-center">Time</th>
                            <th class="text-center">Max Students</th>
                            <th class="text-center">Slots</th>
                            <th class="text-center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for semester in semesters %}
                            <tr class="table-primary">
                                <td class="text-center"><strong>{{ semester.pk }}</strong></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                            {% for course_offering in my_courses %}
                                {% if course_offering.semester ==  semester %}
                                <tr id="{{ course_offering.pk }}-row">
                                    <td class="text-center"><a href="{% url 'elearning:course_detail' course_offering.course.pk %}">{{ course_offering.course.title }}</a></td>
                                    <td class="text-center">{{ course_offering.course_id }}</td>
                                    <td class="text-left"><a href="{% url 'elearning:course_offering_detail' course_offering.pk %}">{{ course_offering.offering_id }}</a></td>
                                    <td class="text-center">{{ course_offering.start_date|date:'d/m/Y' }}</td>
                                    <td class="text-center">{{ course_offering.start_date|date:'D' }}</td>
                                    <td class="text-center">{{ course_offering.start_time|date:'g:i A' }} - {{ course_offering.end_time|date:'g:i A' }}</td>
                                    <td class="text-center">{{ course_offering.num_students }}</td>
                                    <td class="text-center">{{ course_offering.slot }}</td>
                                    <td class="text-center">{{ course_offering.status }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Course table -->

{% if request.user.profile.role == 'professor' %}

<!-- Create course_offering modal -->
<div class="modal fade" id="createcourseModal" tabindex="-1" role="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card card-signup card-plain">
                <div class="modal-header">
                    <div class="card-header card-header-success text-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                        </button>
                        <h4 class="card-title">Request Course Offering</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <form class="form" method="POST">
                        {% csrf_token %}
                        <div class="card-body">

                        {% for field in form %}
                            {% if field == form.lecturer %}
                            <input type="hidden" name="lecturer" value="{{ request.user.pk }}">
                            {% else %}
                            <label>{{ field.label }}</label>
                            <p>{{ field|add_class:"form-control" }}</p>
                            {% endif %}
                        {% endfor %}

                        <div class="clearfix"></div>

                        </div>
                        <button type="submit" class="btn btn-success btn-link pull-right">Create</button>
                    </form>
                </div>
                <div class="modal-footer justify-content-center">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Create course_offering modal -->

{% if pending_courses %}
<!-- Pending Course table -->
<div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">My Request</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">Course</th>
                            <th class="text-center">Course ID</th>
                            <th class="text-left">Offering ID</th>
                            <th class="text-center">Start Date</th>
                            <th class="text-center">Day</th>
                            <th class="text-center">Time</th>
                            <th class="text-center">Max Students</th>
                            <th class="text-center">Slots</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for semester in semesters %}
                            <tr class="table-primary">
                                <td class="text-center"><strong>{{ semester.pk }}</strong></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                                <td class="text-center"></td>
                            </tr>
                            {% for course_offering in pending_courses %}
                                {% if course_offering.semester ==  semester %}
                                <tr id="{{ course_offering.pk }}-row">
                                    <td class="text-center"><a href="{% url 'elearning:course_detail' course_offering.course.pk %}">{{ course_offering.course.title }}</a></td>
                                    <td class="text-center">{{ course_offering.course_id }}</td>
                                    <td class="text-left"><a href="{% url 'elearning:course_offering_detail' course_offering.pk %}">{{ course_offering.offering_id }}</a></td>
                                    <td class="text-center">{{ course_offering.start_date|date:'d/m/Y' }}</td>
                                    <td class="text-center">{{ course_offering.start_date|date:'D' }}</td>
                                    <td class="text-center">{{ course_offering.start_time|date:'g:i A' }} - {{ course_offering.end_time|date:'g:i A' }}</td>
                                    <td class="text-center">{{ course_offering.num_students }}</td>
                                    <td class="text-center">{{ course_offering.slot }}</td>
                                    <td class="text-right">
                                        <a href="{% url 'cancel_request' course_offering.pk %}"><button type="button" rel="tooltip" class="btn round btn-danger delete">
                                            <i class="material-icons">delete</i>
                                        </button></a>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<!-- End Pending Course table -->
{% endif %}
{% endif %}

{% endblock %}

{% block extra_script %}

{% endblock %}