{% extends "account/base.html" %}

{% block title %}
    {% if section == "edit_profile" %}Edit Profile
    {% elif section == "profile" %}
    My Profile
    {% else %}
    {{ user.username }} Profile
    {% endif %}
{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".DisabledForm :input").prop("disabled", true);
    });
</script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                  <div class="card-icon">
                    <i class="material-icons">perm_identity</i>
                  </div>
                  <h4 class="card-title">
                  {% if request.user.username == user.username %}
                  My Profile
                  {% else %}
                  Profile
                  {% endif %}
                  </h4>
                </div>
                <div class="card-body">
                    <form id="ProfileForm" {% if section != "edit_profile" %} class="DisabledForm" {% endif %} {% if section == "edit_profile" %} method='POST' action="{% url 'edit_profile' user.username %}" enctype="multipart/form-data" {% endif %}>
                        {% if section == "edit_profile" %} 
                        {% csrf_token %}
                        {% endif %}
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">University</label>
                                    <input type="text" class="form-control" value="International University" disabled="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Username</label>
                                    <input type="text" class="form-control" disabled="" value="{{ user.username }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Email address</label>
                                    <input type="email" name="email" class="form-control" value="{{ user.email }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Fist Name</label>
                                    <input type="text" name="first_name" class="form-control" value="{{ user.first_name }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Last Name</label>
                                    <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group is-filled">
                                    <label class="bmd-label-floating">Birthday</label>
                                    <input type="date" name="birth_date" class="form-control" value="{{ user.profile.birth_date|date:'Y-m-d' }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Major</label>
                                    <input type="text" name="major" class="form-control" value="{{ user.profile.major }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group is-filled">
                                    <label class="bmd-label-floating">Role</label>
                                    <select type="text" name="role" class="form-control" disabled>
                                        <option value="student" {% if user.profile.role == "student" %}selected{% endif %}>Student</option>
                                        <option value="professor" {% if user.profile.role == "professor" %}selected{% endif %}>Professor</option>
                                        <option value="staff" {% if user.profile.role == "staff" %}selected{% endif %}>Staff</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Entrance year</label>
                                    <input type="text" name="entrance" class="form-control" value="{% for entrance in user.entrance_student.all %} {{ entrance.year }} {% endfor %}" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Advisor</label>
                                    <input type="text" name="advisor" class="form-control" value="{% for entrance in user.entrance_student.all %} {{ entrance.advisor.username }} {% endfor %}" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <div class="form-group bmd-form-group">
                                        <textarea name="bio" class="form-control" rows="5">{{ user.profile.bio }}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="clearfix"></div>
                        {% if request.user.username == user.username and section == "edit_profile" %}
                        <button type="submit" class="btn btn-rose pull-right">Update Profile</button>
                        {% endif %}
                    </form>
                    {% if request.user.username == user.username and section != "edit_profile" %}
                    <a href="{% url 'edit_profile' user.username %}"><button class="btn btn-rose pull-right">Edit Profile</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
            <div class="card card-profile">
                <div class="card-avatar">
                    {% comment %} <a href="#pablo">
                        <img class="img" src="../../assets/img/faces/marc.jpg">
                    </a> {% endcomment %}
                </div>
                <div class="card-body">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail img-raised">
                        {% if user.profile.avatar %}
                            <img src="{{ MEDIA_URL }}{{user.profile.avatar}}" alt="...">
                        {% else %}
                            <img src="https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png" alt="...">
                        {% endif %}
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                        {% if request.user.username == user.username and section == "edit_profile" %}
                        <div>
                        <form method="POST" action="{% url 'edit_avatar' user.username %}" enctype="multipart/form-data">
                        {% csrf_token %}
                            <span class="btn btn-raised btn-round btn-rose btn-file">
                                <span class="fileinput-new">Select image</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" name="avatar" />
                            </span>
                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
                                <i class="fa fa-times"></i> Remove
                            </a>
                            <button type="submit" class="btn btn-rose btn-round fileinput-exists">
                                <i class="fa fa-check"></i> Apply
                            </button>
                        </form>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            </div>

            {% if request.user.is_superuser or request.user.is_staff or request.user.username == user.username %}
            <div class="row">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">group_work</i>
                        </div>
                        <h4 class="card-title">Groups</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Group name</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for group in user.groups.values %}
                                <tr>
                                    <th class="text-center">{{ forloop.counter }}</th>
                                    <th class="text-center">{{ group.name }}<th>
                                    <th class="text-center"><i class="material-icons" style="color:green">group</i></th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <h4 class="card-title">Permissions</h4>
                    </div>
                    <div class="card-body">
                        {% if user.is_superuser or user.is_staff %}    
                        <p>This account has all permissions</p>
                        
                        {% elif user.user_permissions.values %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for permission in user.user_permissions.values %}
                                <tr>
                                    <th class="text-center">{{ forloop.counter }}</th>
                                    <th class="text-center">{{ permission.name }}<th>
                                    <th class="text-center"><i class="material-icons" style="color:green">done</i></th>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        {% else %}
                        <p>This account does not have any permission</p>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}