{% extends "forum/base.html" %}

{% load static %}

{% block title %}
    {% if section == 'edit' %}Edit {% else %}Create {% endif %}Event
{% endblock  %}

{% block home %}
    <div class="hero-area section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url({% static 'account/assets/img/background.jpg' %})"></div>
			<!-- /Backgound Image -->
			{% block home-wrapper %}
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">
						<ul class="hero-area-tree">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'event_list' %}">Event</a></li>
						</ul>
						<h1 class="white-text">Event Page</h1>
					</div>
				</div>
			</div>
			{% endblock %}
	</div>
{% endblock %}

{% block post %}
    <h1>{% if section == 'edit' %}Edit {% else %}Create new {% endif %} event</h1>
    <form {% if section == 'edit' %} action="{% url 'edit_event' event.pk %}" {% else %} action="{% url 'create_event' %}" {% endif %} method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="main-button icon-button">Post</button>
    </form>
    <script>
        function check(){
            var join = $('#id_join').is(':checked');
            if (join == false){
                $("#id_ondate").prop('disabled', true);
                $("#id_start_time").prop('disabled', true);
                $("#id_end_time").prop('disabled', true);
            }
            else{
                $("#id_ondate").prop('disabled', false);
                $("#id_start_time").prop('disabled', false);
                $("#id_end_time").prop('disabled', false);
            }
        }

        check();

        $('#id_join').on('click',function(){
            check();
        });
    </script>
{% endblock %}

{% block aside %}
    <!-- aside blog -->
    <div id="aside" class="col-md-3">

        <!-- search widget -->
        <div class="widget search-widget">
            <form method="GET" action="{% url 'event_list' %}">
                <input class="input" type="text" name="search" placeholder="Search Events">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div>
        <!-- /search widget -->

        <!-- posts widget -->
        <div class="widget posts-widget">
            <h3>Latest Events</h3>
            {% for e in events %}
            {% if forloop.counter <= 3 %}
            <!-- single posts -->
            <div class="single-post">
                {% comment %} <a class="single-post-img" href="#">
                    <img src="{% static 'img/blog01.jpg' %}" alt="">
                </a> {% endcomment %}
                <a href="#">{{ e.title }}</a>
                <p><small>By {{e.created_by}}. {{e.created}}</small></p>
            </div>
            <!-- /single posts -->
            {% endif %}
            {% empty %}
            <p>There is no event</p>
            {% endfor %}

        </div>
        <!-- /posts widget -->

    </div>
    <!-- /aside blog -->
{% endblock %}

{% block paging %}

{% endblock %}