{% extends "forum/base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block title %}
    {{ event.title }}
{% endblock %}

{% block home-wrapper %}
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">
						<ul class="hero-area-tree">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'event_list' %}">Events</a></li>
							<li><a href="{% url 'event_detail' event.pk %}">{{ event.title }}</a></li>
						</ul>
						<h1 class="white-text">{{event.title}}</h1>
                        <ul class="blog-post-meta">
							<li class="blog-meta-author">By : <a href="#">{{event.created_by}}</a></li>
							<li>{{event.created}}</li>
						</ul>
					</div>
				</div>
			</div>
{% endblock %}

{% block post %}
	<!-- blog post -->
	<div class="blog-post fr-view">
		{% autoescape off %}
            {{ event.content }}
        {% endautoescape %}
	</div>
	<div class="row">
        {% if event.join == True %}
		<span class="pull-left">
			<button id="join" class="btn btn-success"><i class="fas fa-user-plus">{% if request.user.is_authenticated %} Click to Join{% else %} Login to Join{% endif %}</i></button>
		</span>
        {% endif %}
        {% if request.user.is_staff or request.user.is_superuser %}
		<span class="pull-right">
			<a href="{% url 'edit_event' event.pk %}"><button class="btn btn-success"><i class="fas fa-edit"></i></button></a>
			<a href="{% url 'delete_event' event.pk %}"><button class="btn btn-success"><i class="fas fa-trash-alt"></i></button></a>
		</span>
        {% endif %}
	</div>
    <hr>
	<script>
        var user_joined = "{{ user_joined }}";

        if(user_joined.localeCompare("True")==0){
            $("#join i").replaceWith("Cancel");
            method = "DELETE";
        }

        $("#join").on("click",function(){
            var method = "POST";

            if(user_joined.localeCompare("True")==0){
                method = "DELETE";
            }

            $.ajax({
                method: method,
                url: "{% url 'join_event' event.pk %}",
                headers: {'X-CSRFToken':'{{csrf_token}}'},
                success: function(data){
                    user_joined = data['join'];
                }
            })
            
            if(method.localeCompare("POST")==0){
                $("#join i").replaceWith("<i class='fas fa-user-minus'> Cancel</i>");
            }
            else{
                $("#join i").replaceWith("<i class='fas fa-user-plus'> Click to Join</i>");
            }
        })
	</script>
	<!-- /blog post -->
{% endblock %}

{% block aside %}
    <!-- aside blog -->
    <div id="aside" class="col-md-3">

        <!-- search widget -->
        <div class="widget search-widget">
            <form method="GET" action="{% url 'event_list' %}">
                <input class="input" type="text" name="search" placeholder="Search Events">
                <button><i class="fa fa-search"></i></button>
            </form>
        </div>
        <!-- /search widget -->

        <!-- posts widget -->
        <div class="widget posts-widget">
            <h3>Latest Events</h3>
            {% for e in events %}
            {% if forloop.counter <= 3 %}
            <!-- single posts -->
            <div class="single-post">
                {% comment %} <a class="single-post-img" href="#">
                    <img src="{% static 'img/blog01.jpg' %}" alt="">
                </a> {% endcomment %}
                <a href="#">{{ e.title }}</a>
                <p><small>By {{e.created_by}}. {{e.created}}</small></p>
            </div>
            <!-- /single posts -->
            {% endif %}
            {% empty %}
            <p>There is no event</p>
            {% endfor %}

        </div>
        <!-- /posts widget -->

    </div>
    <!-- /aside blog -->
{% endblock %}

{% block paging %}

{% endblock %}