{% extends "forum/base.html" %}

{% block title %}
    Event List
{% endblock %}

{% block home-wrapper %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<ul class="hero-area-tree">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'event_list' %}">Events</a></li>
                </ul>
                <h1 class="white-text">Events</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block post %}
    <h2>All Events</h2>
    <hr>
    {% for event in events %}
    <div class="feature">
        <div class="feature-content" style="padding-left:0px;">
            <h4><a href="{% url 'event_detail' event.pk %}">{{ event.title }}</a></h4>
            <p>{{ event.content|safe|truncatewords_html:30 }}</p>
            <p>{{event.created_by}}, <span class="date">{{ event.created }}</span></p>
        </div>
    </div>
    <hr>
    {% empty %}
    There is no event match.
    {% endfor %}
{% endblock %}

{% block aside %}
<!-- aside blog -->
<div id="aside" class="col-md-3">

    <!-- search widget -->
    <div class="widget search-widget">
        <form method="GET">
            <input class="input" type="text" name="search" placeholder="Search Events">
            <button><i class="fa fa-search"></i></button>
        </form>
    </div>
    <!-- /search widget -->

    <!-- posts widget -->
    <div class="widget posts-widget">
        <h3>Latest Events</h3>
        {% for e in all_events %}
        {% if forloop.counter <= 3 %}
        <!-- single posts -->
        <div class="single-post">
            {% comment %} <a class="single-post-img" href="#">
                <img src="{% static 'img/blog01.jpg' %}" alt="">
            </a> {% endcomment %}
            <a href="#">{{ e.title }}</a>
            <p><small>By {{e.created_by}}. {{e.created}}</small></p>
        </div>
        <!-- /single posts -->
        {% endif %}
        {% empty %}
        <p>There is no event</p>
        {% endfor %}

    </div>
    <!-- /posts widget -->

</div>
<!-- /aside blog -->
{% endblock %}

{% block paging %}
<div class="col-md-12">
    <div class="post-pagination">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ events.previous_page_number }}" class="pagination-back pull-left">previous</a>
        {% endif %}

        <ul class="pages">
            {% for i in events.paginator.page_range %}
                {% if events.number == i %}
                    <li class="active">{{ i }}</li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        {% if events.has_next %}
            <a href="?page={{ events.next_page_number }}" class="pagination-next pull-right">next</a>
            <a href="?page={{ events.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}