<!DOCTYPE html>
<html lang="en">
	{% load staticfiles %}
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>{% block title %}{% endblock %}</title>
		<link rel="icon" type="image/png" href="{% static 'img/IUlogo.png' %}" />
		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet"/>

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>

		<!-- Font Awesome Icon -->
		<link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		
		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		
		<!-- jQuery Plugins -->
		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		{{ form.media }}
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
		{% comment %} <script type="text/javascript" src="{% static 'js/main.js' %}"></script> {% endcomment %}
		<!-- Plugin for the momentJs  -->
		<script src="{% static 'account/assets/js/plugins/moment.min.js' %}"></script>
		<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
		<script src="{% static 'account/assets/js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
		<script>
			$(function() {
   			
				 //API get majors
				$.getJSON("/elearning/majors/",function(data){
					$.each(data, function(key,value){
						var name = value['name'];
						var slug = value['slug'];
						var string = '<li><a href="{% url "elearning:course_list" '+replace+' %}">'+name+'</a></li>';
						var res = string.replace("+replace+", slug);
						$('#program').append(res);
					});
				});

				// Catch the image being removed.
				$('#id_body ,#id_content').on('froalaEditor.image.removed', function (e, editor, $img) {
      				$.ajax({
        				// Request method.
        				method: 'POST',
 
        				// Request URL.
        				url: "{% url 'froala_editor_delete_image' %}",
								headers: {'X-CSRFToken':'{{csrf_token}}'},
        				// Request params.
        				data: {
          					src: $img.attr('src')
        				}
      				})
      				.done (function (data) {
        				console.log ('Image was deleted');
      				})
      				.fail (function (err) {
        				console.log ('Image delete problem: ' + JSON.stringify(err));
      				})
    			});
			});
		</script>
	
		{% block css_extra %}
		
		{% endblock %}
    </head>
	<body>
		<!-- Header -->
		<header id="header" {% block transparent-nav %} class="transparent-nav" {% endblock %}>
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a class="logo" href="#">
							<img src="{% static 'img/IUlogo.png' %}" alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Mobile toggle -->
					<button class="navbar-toggle">
						<span></span>
					</button>
					<!-- /Mobile toggle -->
				</div>

				<!-- Navigation -->
				<nav id="nav">
					<ul class="main-menu nav navbar-nav navbar-right">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'about' %}">About</a></li>
						<li class="dropdown"><a href="{% url 'home' %}#majors">Program</a>
							<ul class="dropdown-menu dropdown-menu-right" id="program">
  						
							</ul>
						</li>
						<li><a href="{% url 'forum:category' %}">Forum</a></li>
						<li><a href="#contact-cta">Contact</a></li>
						<li {% if request.user.is_authenticated %}style="cursor:pointer;"{% endif %}>
							{% if request.user.is_authenticated %}
							<a class="dropdown-toggle" data-toggle="dropdown">
								{% if request.user.first_name %}
								{{ request.user.first_name }} {{ request.user.last_name }}
								{% else %}
								{{request.user.username}}
								{% endif %} 
							<span class="caret"></span></a>
							<ul class="dropdown-menu dropdown-menu-right list-group" style="padding-bottom:0;">
								<li class="list-group-item borderless"><a href="{% url 'profile' request.user.username %}">My Profile</a></li>
								{% if request.user.profile.role != 'staff' %}
								<li class="list-group-item borderless"><a href="{% url 'my_courses' %}">My Courses</a></li>
								{% elif request.user.profile.role == 'staff' %}
								<li class="list-group-item borderless"><a href="{% url 'manage_post' %}">Manage Posts</a></li>
								<li class="list-group-item borderless"><a href="{% url 'manage_course' %}">Manage Courses</a></li>
								<li class="list-group-item borderless"><a href="{% url 'manage_course_offering' %}">Manage Course Offerings</a></li>
								<li class="list-group-item borderless"><a href="{% url 'manage_event' %}">Manage Events</a></li>
								{% endif %}
								<li class="list-group-item borderless"><a href="{% url 'calendar' %}">Timetable</a></li>
								<li class="list-group-item"><a href="{% url 'password_change' %}">Change Password</a></li>
								<li class="list-group-item borderless"><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
							</ul>					
							{% else %}
							<a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a>	
							{% endif %}
						</li>
					</ul>
					{% comment %} <span class="dropdown user">
					{% if request.user.is_authenticated %}
						<a class="dropdown-toggle" data-toggle="dropdown">
						{% if request.user.first_name %}
						{{ request.user.first_name }} {{ request.user.last_name }}
						{% else %}
						{{request.user.username}}
						{% endif %} 
                		<span class="caret"></span></a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            					<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
							</ul>					
            		{% else %}
                		<a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a>	
					{% endif %}
					</span> {% endcomment %}
				</nav>
				<!-- /Navigation -->
				
			</div>
		</header>
		<!-- /Header -->
		{% block home %}
		<!-- Home -->
		<div id="home" class="hero-area">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url({% static 'account/assets/img/login_bg.jpg' %})">
			</div>
			<!-- /Backgound Image -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h1 class="white-text">Edusite Free Online Training Courses</h1>
							<p class="lead white-text">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant, eu pro alii error homero.</p>
							<a class="main-button icon-button" href="#">Get Started!</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /Home -->
		{% endblock %}

		{% block content %}
		<!-- About -->
		<div id="about" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-6">
						<div class="section-header">
							<h2>Welcome to Edusite</h2>
							<p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
						</div>

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-flask"></i>
							<div class="feature-content">
								<h4>Online Courses </h4>
								<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
							</div>
						</div>
						<!-- /feature -->

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-users"></i>
							<div class="feature-content">
								<h4>Expert Teachers</h4>
								<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
							</div>
						</div>
						<!-- /feature -->

						<!-- feature -->
						<div class="feature">
							<i class="feature-icon fa fa-comments"></i>
							<div class="feature-content">
								<h4>Community</h4>
								<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
							</div>
						</div>
						<!-- /feature -->

					</div>

					<div class="col-md-6">
						<div class="about-img">
							<img src="./img/about.png" alt="">
						</div>
					</div>

				</div>
				<!-- row -->

			</div>
			<!-- container -->
		</div>
		<!-- /About -->

		<!-- Courses -->
		<div id="courses" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">
					<div class="section-header text-center">
						<h2>Explore Courses</h2>
						<p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
					</div>
				</div>
				<!-- /row -->

				<!-- courses -->
				<div id="courses-wrapper">

					<!-- row -->
					<div class="row">

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="./img/course01.jpg" alt="">
									<i class="course-link-icon fa fa-link"></i>
								</a>
								<a class="course-title" href="#">Beginner to Pro in Excel: Financial Modeling and Valuation</a>
								<div class="course-details">
									<span class="course-category">Business</span>
									<span class="course-price course-free">Free</span>
								</div>
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="./img/course02.jpg" alt="">
									<i class="course-link-icon fa fa-link"></i>
								</a>
								<a class="course-title" href="#">Introduction to CSS </a>
								<div class="course-details">
									<span class="course-category">Web Design</span>
									<span class="course-price course-premium">Premium</span>
								</div>
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="./img/course03.jpg" alt="">
									<i class="course-link-icon fa fa-link"></i>
								</a>
								<a class="course-title" href="#">The Ultimate Drawing Course | From Beginner To Advanced</a>
								<div class="course-details">
									<span class="course-category">Drawing</span>
									<span class="course-price course-premium">Premium</span>
								</div>
							</div>
						</div>
						<!-- /single course -->

						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="./img/course04.jpg" alt="">
									<i class="course-link-icon fa fa-link"></i>
								</a>
								<a class="course-title" href="#">The Complete Web Development Course</a>
								<div class="course-details">
									<span class="course-category">Web Development</span>
									<span class="course-price course-free">Free</span>
								</div>
							</div>
						</div>
						<!-- /single course -->

					</div>
					<!-- /row -->

					<!-- row -->
					<div class="row">

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="./img/course05.jpg" alt="">
									<i class="course-link-icon fa fa-link"></i>
								</a>
								<a class="course-title" href="#">PHP Tips, Tricks, and Techniques</a>
								<div class="course-details">
									<span class="course-category">Web Development</span>
									<span class="course-price course-free">Free</span>
								</div>
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="./img/course06.jpg" alt="">
									<i class="course-link-icon fa fa-link"></i>
								</a>
								<a class="course-title" href="#">All You Need To Know About Web Design</a>
								<div class="course-details">
									<span class="course-category">Web Design</span>
									<span class="course-price course-free">Free</span>
								</div>
							</div>
						</div>
						<!-- /single course -->

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="./img/course07.jpg" alt="">
									<i class="course-link-icon fa fa-link"></i>
								</a>
								<a class="course-title" href="#">How to Get Started in Photography</a>
								<div class="course-details">
									<span class="course-category">Photography</span>
									<span class="course-price course-free">Free</span>
								</div>
							</div>
						</div>
						<!-- /single course -->


						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<a href="#" class="course-img">
									<img src="./img/course08.jpg" alt="">
									<i class="course-link-icon fa fa-link"></i>
								</a>
								<a class="course-title" href="#">Typography From A to Z</a>
								<div class="course-details">
									<span class="course-category">Typography</span>
									<span class="course-price course-free">Free</span>
								</div>
							</div>
						</div>
						<!-- /single course -->

					</div>
					<!-- /row -->

				</div>
				<!-- /courses -->

				<div class="row">
					<div class="center-btn">
						<a class="main-button icon-button" href="#">More Courses</a>
					</div>
				</div>

			</div>
			<!-- container -->

		</div>
		<!-- /Courses -->

		<!-- Call To Action -->
		<div id="cta" class="section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url(./img/cta1-background.jpg)"></div>
			<!-- /Backgound Image -->

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-6">
						<h2 class="white-text">Ceteros fuisset mei no, soleat epicurei adipiscing ne vis.</h2>
						<p class="lead white-text">Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
						<a class="main-button icon-button" href="#">Get Started!</a>
					</div>

				</div>
				<!-- /row -->

			</div>
			<!-- /container -->

		</div>
		<!-- /Call To Action -->

		<!-- Why us -->
		<div id="why-us" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">
					<div class="section-header text-center">
						<h2>Why Edusite</h2>
						<p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
					</div>

					<!-- feature -->
					<div class="col-md-4">
						<div class="feature">
							<i class="feature-icon fa fa-flask"></i>
							<div class="feature-content">
								<h4>Online Courses</h4>
								<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
							</div>
						</div>
					</div>
					<!-- /feature -->

					<!-- feature -->
					<div class="col-md-4">
						<div class="feature">
							<i class="feature-icon fa fa-users"></i>
							<div class="feature-content">
								<h4>Expert Teachers</h4>
								<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
							</div>
						</div>
					</div>
					<!-- /feature -->

					<!-- feature -->
					<div class="col-md-4">
						<div class="feature">
							<i class="feature-icon fa fa-comments"></i>
							<div class="feature-content">
								<h4>Community</h4>
								<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
							</div>
						</div>
					</div>
					<!-- /feature -->

				</div>
				<!-- /row -->

				<hr class="section-hr">

				<!-- row -->
				<div class="row">

					<div class="col-md-6">
						<h3>Persius imperdiet incorrupte et qui, munere nusquam et nec.</h3>
						<p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
						<p>No vel facete sententiae, quodsi dolores no quo, pri ex tamquam interesset necessitatibus. Te denique cotidieque delicatissimi sed. Eu doming epicurei duo. Sit ea perfecto deseruisse theophrastus. At sed malis hendrerit, elitr deseruisse in sit, sit ei facilisi mediocrem.</p>
					</div>

					<div class="col-md-5 col-md-offset-1">
						<a class="about-video" href="#">
							<img src="./img/about-video.jpg" alt="">
							<i class="play-icon fa fa-play"></i>
						</a>
					</div>

				</div>
				<!-- /row -->

			</div>
			<!-- /container -->

		</div>
		<!-- /Why us -->
		{% endblock %}

		<!-- Contact CTA -->
		<div id="contact-cta" class="section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url({% static 'img/contact-us.jpg' %})"></div>
			<!-- Backgound Image -->

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-6">
						<iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3918.1370390250654!2d106.801548!3d10.87718!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x550c2b41569376f9!2sInternational+University!5e0!3m2!1sen!2svn!4v1409563212707" width="100%" height="200px" frameborder="0"></iframe>
					</div>

					<div class="col-md-6">
						<h2 class="white-text col-md-offset-2">Visit Us</h2>
						<p class="lead white-text col-md-offset-2">
							Address: Quarter 6, Linh Trung w., Thu Duc dist., Ho Chi Minh City<br>
							Telephone: <a href="tel:+84837244270">(028) 37244270</a><br>
							Fax: <a href="#fax">(028) 37244271</a><br>
							Email: <a href="mailto:cse@hcmiu.edu.vn">cse@hcmiu.edu.vn</a>
						</p>
					</div>

				</div>
				<!-- /row -->

			</div>
			<!-- /container -->

		</div>
		<!-- /Contact CTA -->
		

		{% block footer %}
		<!-- Footer -->
		<footer id="footer" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<!-- footer logo -->
					<div class="col-md-6">
						<div class="footer-logo">
							<a class="logo" href="#">
								<img src="{% static 'img/IUlogo.png' %}" alt="logo">
							</a>
						</div>
					</div>
					<!-- footer logo -->

					<!-- footer nav -->
					<div class="col-md-6">
						<ul class="footer-nav">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'about' %}">About</a></li>
							<li><a href="#">Courses</a></li>
							<li><a href="{% url 'forum:category' %}">Forum</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
					<!-- /footer nav -->

				</div>
				<!-- /row -->

				<!-- row -->
				<div id="bottom-footer" class="row">
					<!-- copyright -->
					<div class="col-md-8">
						<div class="footer-copyright">
							<span>Copyright &copy; 2019 — School of Computer Science and Engineering.<br> 
							International University — All Rights Reserved.</span>
						</div>
					</div>
					<!-- /copyright -->

				</div>
				<!-- row -->

			</div>
			<!-- /container -->

		</footer>
		<!-- /Footer -->
		{% endblock %}

		<!-- preloader -->
		<div id='preloader'><div class='preloader'></div></div>
		<!-- /preloader -->
		<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	</body>
</html>
