<div class="input-group date" id="{{ widget.datetimepicker_id }}">
  {% include "django/forms/widgets/input.html" %}
  <span class="input-group-addon">
    <i class="fa fa-calendar"></i>
  </span>
</div>

<script>
  $(function () {
    $("#{{ widget.datetimepicker_id }}").datetimepicker({
      icons: {
          time: "fa fa-clock-o",
          date: "fa fa-calendar",
          up: "fa fa-chevron-up",
          down: "fa fa-chevron-down",
          previous: 'fa fa-chevron-left',
          next: 'fa fa-chevron-right',
          today: 'fa fa-screenshot',
          clear: 'fa fa-trash',
          close: 'fa fa-remove'
      },
      format: 'DD/MM/YYYY HH:mm',
    });
    $("#{{ widget.datetimepicker_id }} input").val('{{ widget.value|date:"d/m/Y H:i" }}');
  });
</script>