{% extends "elearning/base.html" %}

{% block title %}
    About Us
{% endblock  %}

{% block home-wrapper %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <ul class="hero-area-tree">
                <li><a href="index.html">Home</a></li>
                <li>About</li>
            </ul>
            <h1 class="white-text">About Our Falcuty</h1>

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        {% for group in groups %}
        <h3 class="text-center">{{ group.name }}</h3>
        <br>
        <div class="row">
            {% for user in group.users %}
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{% url 'profile' user.username %}">
                        {% if user.profile.avatar %}
                        <img class="img-responsive" src="{{ MEDIA_URL }}{{user.profile.avatar}}" style="height:250px;width:250px;padding:20px">
                        {% else %}
                        <img src="https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png" style="height:250px;width:250px;padding:20px">
                        {% endif %}
                        
                        <div class="caption">
                            <p class="text-center">{{ user.first_name}} {{ user.last_name }}</p>
                            <p class="text-center">{{ user.email }}</p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
        {% endfor %}
    </div> 
{% endblock  %}
