{% extends "elearning/course_offering_detail.html" %}

{% block title %}
    Add Assignment
{% endblock  %}

{% block course %}

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">{% if section == 'edit' %}Edit Assignment{% else %}Add Assignment{% endif %}</div>
            <div class="panel-body">
                <form {% if section == 'edit' %}action="{% url 'elearning:edit_assignment' course_offering.pk assignment.pk %}"{% else %}action="{% url 'elearning:add_assignment' course_offering.pk %}"{% endif %} method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="main-button icon-button">Add</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}