{% extends "elearning/course_offering_detail.html" %}

{% block title %}
    Add Content
{% endblock  %}

{% block course %}

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Add Content</div>
            <div class="panel-body">
                <form action="{% url 'elearning:add_content' course_offering.pk %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="main-button icon-button">Add</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}