{% extends "elearning/course_offering_detail.html" %}

{% block title %}
    {{ assignment.title }}
{% endblock  %}

{% block course %}

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>{{ assignment.title }}</h3></div>
            <div class="panel-body">
                <div class="fr-view">
                    {% autoescape off %}
                        {{ assignment.body }}
                    {% endautoescape %}
                </div>
                <hr>
                <h4>Submissions</h4>
                {% if request.user == course_offering.lecturer %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">No.</th>
                                <th class="text-center">Username</th>
                                <th class="text-center">First name</th>
                                <th class="text-center">Last name</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for each in students %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="text-center">{{ each.student.username }}</td>
                                <td class="text-center">{{ each.student.first_name }}</td>
                                <td class="text-center">{{ each.student.last_name }}</td>
                                <td class="text-center">{{ each.status }}</td>
                                <td class="text-center"><button class="btn btn-success view" value="{{each.student.username}}">View</button></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                {% if assignment.is_submitted == True %}
                <div id="submissions">
                    {% for submission in submissions %}
                    <p>Attached File: <span><a href="{{MEDIA_URL}}{{submission.File}}">{{ submission.filename }}</a></span>
                    <div class="fr-view">
                        {% autoescape off %}
                            {{ submission.body }}
                        {% endautoescape %}
                    </div>
                    <p>Submitted at </span class="date">{{ submission.submitted|date:'d/m/Y H:i' }}</span></p>
                    {% endfor %}
                </div>
                {% else %}
                <form id="SubmissionForm" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="main-button icon-button">Submit</button>
                </form>
                {% endif %} 
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="SubmissionModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="student-submission"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    
    <script>
        $(".view").on("click",function(){
            username = $(this).val();
            
            var user = {
                username: username,
            }

            $.ajax({
                method: 'POST',
                url: "{% url 'elearning:submissions.json' course_offering.pk assignment.pk %}",
                headers: {'X-CSRFToken':'{{csrf_token}}'},
                dataType: 'JSON',
                data: JSON.stringify(user),
                success:function(data){
                    $(".student-submission").empty();
                    $(".modal-title").text(username + " Submission");
                    if(data == ""){
                        var body = "There is no submission"
                        $(".student-submission").append(body);
                    }else{
                    $.each(data, function(key,value){
                        var file = value['File'];
                        var filename = value['filename'];
                        var body = value['body'];
                        var submitted = value['submitted'];
                        var res = "<p>Attached File: <span><a href='{{MEDIA_URL}}"+file+"'>"+filename+"</a></span>" +
                                "<div class='fr-view'>{% autoescape off %}"+body+"{% endautoescape %}</div>" +
                                "<p>Submitted at </span class='date'>"+submitted+"</span></p>";
                        $(".student-submission").append(res);
                    })
                    }
                }
            });
            $('#SubmissionModal').modal('show');
        })
    </script>
{% endblock  %}

{% block paging %}

{% endblock %}