{% extends "elearning/course_offering_detail.html" %}

{% block title %}
    Assignments
{% endblock  %}

{% block course %}

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Assignments</div>
            <div class="panel-body">
                <ul>
                    {% for assignment in assignments %}
                    <li>
                        <h4>{{ assignment.title }}</h4>
                        <p>{{ assignment.body|truncatewords:10|safe }}</p>
                        <p class="date">Updated: {{ assignment.updated|date:'d/m/Y, H:i' }}</p>
                        <span class="date" style="color:red;">Deadline: {{ assignment.deadline|date:'d/m/Y, H:i' }}</span>                        
                        <div class="pull-right">
                        {% if request.user.profile.role == 'professor' %}
                            <a href="{% url 'elearning:edit_assignment' course_offering.pk assignment.pk %}" class="btn btn-success"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'elearning:delete_assignment' course_offering.pk assignment.pk %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                            <a href="{% url 'elearning:assignment_detail' course_offering.pk assignment.pk %}" class="btn btn-success">View Submissions</a>
                        {% else %}
                        {% if assignment.is_submitted == True %}
                            <a href="{% url 'elearning:assignment_detail' course_offering.pk assignment.pk %}#submissions" class="btn btn-success">View Submission</a>
                        {% else %}
                            <a href="{% url 'elearning:assignment_detail' course_offering.pk assignment.pk %}#SubmissionForm" class="btn btn-success">Submit</a>
                        {% endif %}
                        {% endif %}
                        </div>
                    </li>
                    <hr>
                    {% empty %}
                    <p>There is no assignment.</p>
                    {% endfor %}
                </ul>
                {% if request.user.profile.role == 'professor' %}
                <div class="pull-right">
                    <a href="{% url 'elearning:add_assignment' course_offering.pk %}" class="btn btn-success">add assignment</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock  %}

{% block paging %}

{% endblock %}