{% extends "base.html" %}

{% load static %}

{% block transparent-nav %}

{% endblock %}

{% block home %}
    <div class="hero-area section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url({% static 'account/assets/img/background.jpg' %})"></div>
			<!-- /Backgound Image -->

			{% block home-wrapper %}
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">
						<ul class="hero-area-tree">
							<li><a href="index.html">Home</a></li>
							<li>Course</li>
						</ul>
						<h1 class="white-text">Course Page</h1>

					</div>
				</div>
			</div>
			{% endblock %}
	</div>
{% endblock %}

{% block content %}
	<script>
		$(document).ready(function() {

			//API get majors
			$.getJSON("http://127.0.0.1:8000/elearning/majors/",function(data){
				$.each(data, function(key,value){
					var name = value['name'];
					var slug = value['slug'];
					var string = '<a class="category" href="{% url "elearning:course_list" '+replace+' %}">'+name+'</a>';
					var res = string.replace("+replace+", slug);
					$('.category-widget').append(res);
				});
			});

		});		
	</script>

    <div id="blog" class="section">

		<!-- container -->
		<div class="container">

		<!-- row -->
			<div class="row">
			<!-- main blog -->
				<div id="main" class="col-md-9">
                    
					{% block course %}
				    <!-- row -->
				    <div class="row">
                    </div>    
					<!-- /row -->
                    {% endblock %}

					<!-- row -->
					<div class="row">
                        {% block paging %}
						<!-- pagination -->
						<div class="col-md-12">
							<div class="post-pagination">
								<a href="#" class="pagination-back pull-left">Back</a>
								<ul class="pages">
									<li class="active">1</li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
								</ul>
								<a href="#" class="pagination-next pull-right">Next</a>
							</div>
						</div>
						<!-- pagination -->
                        {% endblock %}
					</div>
					<!-- /row -->
		        </div>
                <!-- /main blog -->

                <!-- aside blog -->
				<div id="aside" class="col-md-3">
					{% block aside %}
					<!-- search widget -->
					<!--
					<div class="widget search-widget">
						<form>
							<input class="input" type="text" name="search">
							<button><i class="fa fa-search"></i></button>
						</form>
					</div>
					-->
					<!-- /search widget -->

					<!-- category widget -->
					<div class="widget category-widget">
						<h3>Majors</h3>
						<!-- list category -->

						<!-- End list category -->
					</div>
					<!-- /category widget -->

					{% block extra-aside %}

					{% endblock %}
					
					{% endblock %}

				</div>
				<!-- /aside blog -->
				
			</div>
			<!-- row -->

		</div>
		<!-- container -->

	</div>
	<!-- /Blog -->
{% endblock %}
