{% extends "elearning/course_offering_detail.html" %}

{% block title %}
    {{ content.title }}
{% endblock  %}

{% block course %}

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">{{ content.title }}</div>
            <div class="panel-body">
                <div class="fr-view">
                    {% autoescape off %}
                        {{ content.body }}
                    {% endautoescape %}
                </div>
                <hr>

                {% if not files %}
                <p>There is no attached file.</p>
                {% else %}
                <p>Attached Files:</p>
                <div>
                    {% for f in files %}
                    <ul>
                        <li style="margin-left:20px"><a href="{{MEDIA_URL}}{{f.File}}">{{ f.filename }}</a></li>
                    </ul>
                    {% endfor %}
                </div>
                {% endif %}
                <br>

                {% if not images %}
                <p>There is no image.</p>
                {% else %}
                <p>Images:</p>
                <div class="row">
                    {% for i in images %}
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <a href="{{MEDIA_URL}}{{i.image}}">
                                <img src="{{MEDIA_URL}}{{i.image}}" style="width:100%;height:220px">
                                <div class="caption">
                                    <p>{{ i.filename }}</p>
                                 </div>
                            </a>
                        </div>
                    </div>      
                    {% endfor %}
                </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock  %}

{% block paging %}

{% endblock %}