{% extends "elearning/base.html" %}

{% block title %}
    Course List
{% endblock  %}

{% block css_extra %}
<style>

    #course-aside-panel .list-group-item {
        font-size: 10pt;
    }

    li.borderless {
        border-top: 0 none;
    }

</style>
{% endblock %}

{% block home-wrapper %}
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">
						<ul class="hero-area-tree">
							<li><a href="index.html">Home</a></li>
							<li><a href="{% url 'elearning:program' %}">Program</a></li>
						</ul>
						<h1 class="white-text">{{ major.name }}</h1>

					</div>
				</div>
			</div>
{% endblock %}

{% block course %}

    <h3>Distribution of Curriculum</h3>
    <table class="table table-hover">
        <thead>
            <tr class="info">
                <th class="text-left">Courses</th>
                <th class="text-center">Credits</th>
                <th class="text-center">Percent</th>              
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td class="text-left">{{ category.name }}</td>
                <td class="text-center">{{ category.credits }}</td>
                <td class="text-center">{{ category.percent }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h3>Curriculum</h3>
    
    {% for semester in semesters %}
    {% if forloop.counter == 1 or forloop.counter == 3 or forloop.counter == 5 or forloop.counter == 7  %}
    <div class="row">
    {% endif %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#semester{{semester}}">
                    <h4 class="panel-title" style="color:#1f808c;font-size:14px;">
                        Semester {{ semester }}<span class="caret pull-right"></span>
                    </h4>
                </div>
                <div id="semester{{semester}}" class="panel-collapse collapse">
                    <table class="table table-hover">
                        <thead>
                            <tr class="info">
                                <th class="text-left col-md-8">Course</th>
                                <th class="text-center col-md-4">Credits</th>
                                          
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in courses %}
                            {% if course.semester == semester %}
                            <tr>
                                <td class="text-left col-md-8">
                                    <a href="{% url 'elearning:course_detail' course.pk %}">{{ course.title }}</a>
                                </td>
                                <td class="text-center col-md-4">{{ course.num_credits }}</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>		
            </div>
        </div>
    {% if forloop.counter == 2 or forloop.counter == 4 or forloop.counter == 6 or forloop.counter == 8  %}
    </div>
    {% endif %}
    {% endfor %}

{% endblock  %}

{% block paging %}

{% endblock %}

{% block extra-aside %}
{% if request.user.profile.role == "student" or request.user.profile.role == "professor" %}    
    <div class="widget">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#course-aside-panel">
                    <h4 class="panel-title" style="color:#1f808c;font-size:14px;">My Courses
                        <span class="caret pull-right"></span>  
                    </h4>
                </div>
                <div id="course-aside-panel" class="panel-collapse collapse">
                    <ul class="list-group">
                        {% for course_offering in my_courses %}
                        <li class="list-group-item borderless"><a href="{% url 'elearning:course_offering_detail' course_offering.pk %}">{{ course_offering.course.title }} ({{ course_offering.course_id }})</a></li>
                        {% empty %}
                        <li class="list-group-item borderless">There is no course</li>
                        {% endfor %}
                    </ul>
                </div>		
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
