{% extends "elearning/base.html" %}

{% block title %}
    {{ course.title }}
{% endblock  %}

{% block css_extra %}
<style>
    h2{
        color:#1f808c;
    }

    .jumbotron p{
        font-size: 12pt;
    }

</style>
{% endblock %}

{% block home-wrapper %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <ul class="hero-area-tree">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="{% url 'elearning:program' %}">Courses</a></li>
                    <li>{{course.title}}</li>
                </ul>
                <h1 class="white-text">{{course.title}}</h1>

            </div>
        </div>
    </div>
{% endblock %}

{% block course %}
    
    <div class="row">
            <div class="jumbotron">
                <h2>About this course</h2>
                <br>
                <div class="row">
                    <p class="col-md-3"><strong>Title:</strong></p>
                    <p class="col-md-9">{{ course.title }}</p>
                </div>
                <div class="row">
                    <p class="col-md-3"><strong>Level:</strong></p>
                    <p class="col-md-9">Undergraduate</p>
                </div>
                <div class="row">
                    <p class="col-md-3"><strong>Credits:</strong></p>
                    <p class="col-md-9">{{ course.num_credits }}</p>
                </div>
                <div class="row">
                    <p class="col-md-3"><strong>Overview:</strong></p>
                    <p class="col-md-9">{{ course.overview }}</p>
                </div>
                <div class="row">
                    <p class="col-md-3"><strong>Requirements:</strong></p>
                    <div class="col-md-9">
                        {% for requirement in course.following_courses.all %}
                        <p>{{ requirement.required_course }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>

    <div class="row">
        
        <a data-toggle="collapse" data-target="#course_list"><h4 style="color:#1f808c">Course Offerings
        <span class="glyphicon glyphicon-plus pull-right"></span></h4></a>
        <hr>

        <div id="course_list" class="collapse">
        {% for course_offering in course_offerings %}
            <div class="row" style="height: 100%">
                <div class="col-md-3">
                    <img 
                    {% if course.picture == "" %} 
                        src="{{ MEDIA_URL }}courses/course01.jpg" 
                    {% else %} 
                        src="{{ MEDIA_URL }}{{ course.picture }}"
                    {% endif %} style="width:100%; border: 0.1px solid;">
                </div>
                <div class="col-md-3">
                    <a href="{% url 'elearning:course_offering_detail' course_offering.pk %}"><p><strong>{{ course_offering.offering_id }}</strong></p></a>
                    <p>{{ course_offering.created }}</p>
                </div>
                <div class="col-md-3">
                    <p><span class="glyphicon glyphicon-user"></span> 
                    {% with course_offering.course_grade.count as joined_students %}
                        {{ joined_students }}/{{ course_offering.num_students }}
                    {% endwith %}
                    </p>
                </div>
                <div class="col-md-3">
                    <p>Lecturer:</p>
                    <p><strong>{{ course_offering.lecturer }}</strong></p>
                </div>
            </div>
            <hr>
        {% empty %}
            <div>There is no course available</div>
        {% endfor %}
        </div>
    </div>

{% endblock  %}

{% block paging %}

{% endblock %}