{% extends "elearning/base.html" %}

{% block title %}
    {{ course_offering.title }}
{% endblock  %}

{% block css_extra %}
<style>
    h2{
        color:#1f808c;
    }

    .jumbotron p{
        font-size: 12pt;
    }

    #course_offering-aside-panel .list-group-item {
        font-size: 10pt;
    }

    li.borderless {
        border-top: 0 none;
    }

    .table-borderless > tbody > tr > td,
    .table-borderless > tbody > tr > th,
    .table-borderless > tfoot > tr > td,
    .table-borderless > tfoot > tr > th,
    .table-borderless > thead > tr > td,
    .table-borderless > thead > tr > th {
        border: none;
    } 

    .modal {
        text-align: center;
        padding: 0!important;
    }

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

</style>
{% endblock %}

{% block home-wrapper %}
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">
						<ul class="hero-area-tree">
							<li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'elearning:course_detail' course_offering.course.pk %}">{{ course_offering.course.title }}</a></li>
                            <li>{{course_offering.offering_id}}</li>
						</ul>
						<h1 class="white-text">{{course_offering.offering_id}}</h1>

					</div>
				</div>
			</div>
{% endblock %}

{% block course %}

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Home Page</div>
            <div class="panel-body">
                <div class="jumbotron">
                    <h2>About this course</h2>
                    <br>
                    <div class="row">
                        <p class="col-md-3"><strong>Title:</strong></p>
                        <p class="col-md-9">{{ course.title }}</p>
                    </div>
                    <div class="row">
                        <p class="col-md-3"><strong>Level:</strong></p>
                        <p class="col-md-9">Undergraduate</p>
                    </div>
                    <div class="row">
                        <p class="col-md-3"><strong>Credits:</strong></p>
                        <p class="col-md-9">{{ course.num_credits }}</p>
                    </div>
                    <div class="row">
                        <p class="col-md-3"><strong>Overview:</strong></p>
                        <p class="col-md-9">{{ course.overview }}</p>
                    </div>
                </div>
    
        
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" style="color:#1f808c;font-size:16px;" data-toggle="collapse" data-target="#collapse1">
                                Course content<span class="glyphicon glyphicon-plus pull-right"></span>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            {% if contents %}
                            <ul class="list-group">
                            {% for content in contents %}
                                <a href="{% url 'elearning:content_detail' course_offering.pk content.pk %}"><li class="list-group-item">{{ content.title }}</li></a>
                            {% endfor %}
                            </ul>
                            {% else %}
                            <div class="panel-body">
                                There is no content available
                            </div>
                            {% endif %}    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}

{% block paging %}

{% endblock %}

{% block aside %}
    
    <div class="widget">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#course_offering-aside-panel">
                    <h4 class="panel-title" style="color:#1f808c;font-size:14px;">
                        <span class="caret"></span>
                        {{ course_offering.course.title }}<span class="glyphicon glyphicon-home pull-right"></span><br>({{ course_offering.offering_id }})
                    </h4>
                </div>
                <div id="course_offering-aside-panel" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item borderless"><a href="{% url 'elearning:course_offering_detail' course_offering.pk %}">Home page</a></li>
                        
                        <li class="list-group-item borderless"><a href="{% url 'elearning:owner_contact' course_offering.pk %}">Staff contacts</a></li>
                        <li class="list-group-item borderless"><a href="{% url 'elearning:discussion' course_offering.pk %}">Discussions</a></li>
                        <li class="list-group-item borderless"><a href="{% url 'elearning:assignments' course_offering.pk %}">Assignments</a></li>
                        {% if request.user.profile.role == 'student' %}
                        <li class="list-group-item"><a href="{% url 'elearning:grade' course_offering.pk request.user.username %}">My grades</a></li>
                        {% elif request.user.profile.role == 'professor' %}
                        <li class="list-group-item borderless"><a href="{% url 'elearning:add_content' course_offering.pk %}">Add Content</a></li>
                        <li class="list-group-item"><a href="{% url 'elearning:grade_list' course_offering.pk %}">Grades</a></li>
                        {% endif %}
                    </ul>
                </div>		
            </div>
        </div>
    </div>

{% endblock %}