{% extends "elearning/course_offering_detail.html" %}

{% block title %}
    Discussion
{% endblock  %}

{% block css_extra %}
<style>
    h2{
        color:#1f808c;
    }

    .jumbotron p{
        font-size: 12pt;
    }

    #course_offering-aside-panel .list-group-item {
        font-size: 10pt;
    }

    li.borderless {
        border-top: 0 none;
    }

    .table-borderless > tbody > tr > td,
    .table-borderless > tbody > tr > th,
    .table-borderless > tfoot > tr > td,
    .table-borderless > tfoot > tr > th,
    .table-borderless > thead > tr > td,
    .table-borderless > thead > tr > th {
        border: none;
    } 

    .modal {
        text-align: center;
        padding: 0!important;
    }

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
    
    .container{max-width:1170px; margin:auto;}
    img{ max-width:100%;}
    .inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%; border-right:1px solid #c4c4c4;
    }
    .inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
    }
    .top_spac{ margin: 20px 0 0;}


    .recent_heading {float: left; width:40%;}
    .srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%; padding:
    }
    .headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

    .recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
    }
    .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
    .srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
    }
    .srch_bar .input-group-addon { margin: 0 0 0 -27px;}

    .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
    .chat_ib h5 span{ font-size:13px; float:right;}
    .chat_ib p{ font-size:14px; color:#989898; margin:auto}
    .chat_img {
    float: left;
    width: 11%;
    }
    .chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
    }

    .chat_people{ overflow:hidden; clear:both;}
    .chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
    }
    .inbox_chat { height: 550px; overflow-y: scroll;}

    .active_chat{ background:#ebebeb;}

    .incoming_msg_img {
    display: inline-block;
    width: 6%;
    }
    .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
    }
    .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
    }
    .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
    }
    .received_withd_msg { width: 57%;}
    .mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
    }

    .sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
    }
    .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
    .sent_msg {
    float: right;
    width: 46%;
    }
    .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
    }

    .type_msg {border-top: 1px solid #c4c4c4;position: relative;}
    .msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
    }
    .messaging { padding: 0 0 50px 0;}
    .msg_history {
    height: 516px;
    overflow-y: auto;
    }
</style>
{% endblock %}

{% block course %}

<div class="messaging">
    <div class="inbox_msg">
        <div class="inbox_people">
            <div class="headind_srch">
                <div class="recent_heading">
                    <h4>Users</h4>
                </div>
            </div>
            <div class="inbox_chat">
                {% for person in people %}
                <div class="chat_list {% if person.role == 'professor' %}active_chat{% endif %}">
                    <div class="chat_people">
                        <div class="chat_img">
                            {% if person.avatar != "" %}
                            <img src="{{ MEDIA_URL }}{{ person.avatar }}" />
                            {% else %}
                            <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> 
                            {% endif %} 
                        </div>
                        <div class="chat_ib">
                            <h5>{{ person.username }} <span class="chat_date">{{ person.role }}{% if request.user.username == person.username %} (You){% endif %}</span></h5>
                                {% comment %} <p></p> {% endcomment %}
                        </div>
                    </div>
                </div>
                {% endfor %}    
            </div>
        </div>
        <div class="mesgs">
            <div class="msg_history">
            {% for discussion in discussions %}
                {% if discussion.owner != request.user %}
                <div class="incoming_msg">
                    <div class="incoming_msg_img"> 
                        {% if discussion.owner.profile.avatar != "" %}
                        <img src="{{ MEDIA_URL }}{{ discussion.owner.profile.avatar }}" />
                        {% else %}
                        <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> 
                        {% endif %} 
                    </div>
                    <div class="received_msg">
                        <div class="received_withd_msg">
                        <p>{{ discussion.message }}</p>
                        <span class="time_date">{{ discussion.sent|date:'H:i | d/m/Y'}}</span>
                        </div>
                    </div>  
                </div>
                {% elif discussion.owner == request.user %}
                <div class="outgoing_msg">
                    <div class="sent_msg">
                        <p>{{ discussion.message }}</p>
                        <span class="time_date">{{ discussion.sent|date:'H:i | d/m/Y'}}</span> 
                    </div>
                </div>
                {% endif %}
            {% empty %}
            Begin discussion
            {% endfor %}
            </div>
        
            <div class="type_msg">
                <div class="input_msg_write">
                    <form id='form' method="POST">
                        {% csrf_token %}
                        <input id="{{ form.message.id_for_label }}" name="{{ form.message.name }}" type="text" class="write_msg" placeholder="Type a message" />
                        <button class="msg_send_btn" type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js'></script>
<script>
    var loc = window.location;
    var formData = $('#form');
    var msgInput = $('#id_message');
    var chatHolder = $('.msg_history');
    var this_user = "{{ request.user.username }}";
    
    var wsStart = 'ws://';

    var endpoint = wsStart + loc.host + loc.pathname;
    var socket = new ReconnectingWebSocket(endpoint);

    socket.onmessage = function(e){
        console.log("message",e);
        var chatDataMsg = JSON.parse(e.data);
        if (chatDataMsg.username.localeCompare(this_user)==0){
            chatHolder.append("<div class='outgoing_msg'>"+
                        "<div class='sent_msg'>" +
                            "<p>"+chatDataMsg.message+"</p>" +
                            "<span class='time_date'></span>"+ 
                        "</div></div>");
        }else{
            chatHolder.append("<div class='incoming_msg'>"+
                    "<div class='incoming_msg_img'> <img src='https://ptetutorials.com/images/user-profile.png' alt='sunil'> </div>"+
                    "<div class='received_msg'>"+
                        "<div class='received_withd_msg'>"+
                        "<p>"+chatDataMsg.message+"</p>" +
                        "<span class='time_date'></span>"+ 
                        "</div></div></div>");
        }
    }
    socket.onopen = function(e){
        console.log("open",e);
        formData.submit(function(event){
            event.preventDefault();
            var msgText = msgInput.val();
            var finalData = {
                'message':msgText
            }
            socket.send(JSON.stringify(finalData));
            msgInput.val('');
        })
    }
    socket.onerror = function(e){
        console.log("error",e);
    }
    socket.onclose = function(e){
        console.log("close",e);
    }

</script>

{% endblock %}