{% extends "elearning/base.html" %}

{% block title %}
    Enroll
{% endblock  %}

{% block css_extra %}
<style>

    .register {
        overflow-y:scroll;
        height:500px;
        display:block;
    }

    tbody td {
        font-size: 10pt;
    }

</style>
{% endblock %}

{% block home-wrapper %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
            <ul class="hero-area-tree">
                <li><a href="index.html">Home</a></li>
                <li>Courses Registration</li>
            </ul>
            <h1 class="white-text">{{ semester.slug }}</h1>

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <script>
        var inenroll = "{{ inenroll }}";
        inenroll = inenroll.trim();

        if(inenroll.localeCompare('False')==0){
            inenroll = false;
        }else{
            inenroll = true;
        }
        

        function get_courses(){

            $('#registered tbody').empty();
            $('#enroll-table tbody').empty();

            $.getJSON("{% url 'elearning:course_offerings.json' %}",function(data){
                $.each(data, function(key,value){
                    var course_id = value['course_id'];
                    var offering_id = value['offering_id'];
                    var course = value['course'];
                    var lecturer = value['lecturer'];
                    var year = value['year'];
                    var start_date = value['start_date'];
                    var day = value['day'];
                    var start_time = value['start_time'];
                    var end_time = value['end_time'];
                    var num_students = value['num_students'];
                    var num_credits = value['num_credits'];
                    var slot = value['slot'];
                    var qualified = value['qualified'];
                    var registered = value['registered'];
                    var string = "<tr class='enroll-row'>"+
                            "<td class='text-center'>"+course_id+"</td>"+
                            "<td class='text-center'>"+course+"</td>"+
                            "<td class='text-center'>"+offering_id+"</td>"+
                            "<td class='text-center'>"+num_credits+"</td>"+
                            "<td class='text-center'>"+year+"</td>"+
                            "<td class='text-center'>"+start_date+"</td>"+
                            "<td class='text-center'>"+day+"</td>"+
                            "<td class='text-center'>"+start_time+" to "+end_time+"</td>"+
                            "<td class='text-center'>"+num_students+"</td>"+
                            "<td class='text-center'>"+slot+"</td>"+
                            "<td class='text-center'>"+lecturer+"</td>"+
                            "<td class='text-center'>"+
                            "<button class='btn btn-success enroll' value='"+offering_id+"'>Enroll</button>"+
                            "</td>"+
                        "</tr>";

                    if ( registered == true ){
                        string = string.replace("<button class='btn btn-success enroll' value='"+offering_id+"'>Enroll</button>","<button class='btn btn-warning cancel' value='"+offering_id+"'>Cancel</i></button>");
                        $('#registered tbody').append(string);
                    }
                    else if ( qualified == false ){
                        string = string.replace("<button class='btn btn-success enroll' value='"+offering_id+"'>Enroll</button>","<button class='btn btn-danger unqualified' value='"+offering_id+"'>Unqualified</button>");
                        string = string.replace("enroll-row","unqualified-row");
                    }

                    $('#enroll-table tbody').append(string);

                    if(inenroll == false){
                        $('button').attr('disabled',true);
                    }
                });
            });
        }

        get_courses();
    </script>
    <br>    

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% if not inenroll %}
                <p style="color:red">You are not in enroll time</p>
                {% endif %}
                <label for="search-courses">Search: </label>
                <input id="search-courses" class="form-control" type="text" placeholder="Course ID, Course Title, Offering ID"><br>
                <input id="hide-unqualified" type="checkbox" name="hide-unqualified"> Hide Unqualified<br>
            </div>
        </div>
    </div>

    <script>
        
        var hide_unqualified = false;

        function hide_unqualified_row(){
            if(hide_unqualified==true){
                $(".unqualified-row").attr("hidden",true);
            }else{
                $(".unqualified-row").removeAttr("hidden");
            }
        }
        
        $("#hide-unqualified").on('click',function(){
            hide_unqualified = $(this).is(":checked"); 
            hide_unqualified_row();
        })
            
        $("#search-courses").keyup(function(){  
            var search = $(this).val();

            var data = {
                search: search,
            }

            $.ajax({
                method: 'POST',
                url: "{% url 'elearning:course_offerings.json' %}",
                headers: {'X-CSRFToken':'{{csrf_token}}'},
                dataType: 'JSON',
                data: JSON.stringify(data),
            })

            .done (function (data) {
                $('#enroll-table tbody').empty();

                $.each(data, function(key,value){
                    var course_id = value['course_id'];
                    var offering_id = value['offering_id'];
                    var course = value['course'];
                    var lecturer = value['lecturer'];
                    var year = value['year'];
                    var start_date = value['start_date'];
                    var day = value['day'];
                    var start_time = value['start_time'];
                    var end_time = value['end_time'];
                    var num_students = value['num_students'];
                    var num_credits = value['num_credits'];
                    var slot = value['slot'];
                    var qualified = value['qualified'];
                    var registered = value['registered'];
                    var string = "<tr class='enroll-row'>"+
                            "<td class='text-center'>"+course_id+"</td>"+
                            "<td class='text-center'>"+course+"</td>"+
                            "<td class='text-center'>"+offering_id+"</td>"+
                            "<td class='text-center'>"+num_credits+"</td>"+
                            "<td class='text-center'>"+year+"</td>"+
                            "<td class='text-center'>"+start_date+"</td>"+
                            "<td class='text-center'>"+day+"</td>"+
                            "<td class='text-center'>"+start_time+" to "+end_time+"</td>"+
                            "<td class='text-center'>"+num_students+"</td>"+
                            "<td class='text-center'>"+slot+"</td>"+
                            "<td class='text-center'>"+lecturer+"</td>"+
                            "<td class='text-center'>"+
                            "<button class='btn btn-success enroll' value='"+offering_id+"'>Enroll</button>"+
                            "</td>"+
                        "</tr>";

                    if ( registered == true ){
                        string = string.replace("<button class='btn btn-success enroll' value='"+offering_id+"'>Enroll</button>","<button class='btn btn-warning cancel' value='"+offering_id+"'>Cancel</i></button>");
                    }
                    else if ( qualified == false ){
                        string = string.replace("<button class='btn btn-success enroll' value='"+offering_id+"'>Enroll</button>","<button class='btn btn-danger unqualified' value='"+offering_id+"'>Unqualified</button>");
                        string = string.replace("enroll-row","unqualified-row");
                    }

                    $('#enroll-table tbody').append(string);
                });
                hide_unqualified_row();

                if(inenroll == false){
                    $('button').attr('disabled',true);
                }
            }) 
        });  
    </script>

    <div class="container">
    <div class="panel panel-primary register">
        <div class="panel-heading"><h4 class="white-text">Courses Registration</h4></div>
        
        <div class="panel-body">

            <table class="table table-hover table-bordered" id="enroll-table">
                <thead>
                    <tr class="info">
                        <th class="text-center">Course ID</th>
                        <th class="text-center">Course</th>
                        <th class="text-center">Offering ID</th>
                        <th class="text-center">Credits</th>
                        <th class="text-center">Year</th>
                        <th class="text-center">Start Date</th>
                        <th class="text-center">Day</th>
                        <th class="text-center">Time</th>
                        <th class="text-center">Max_Students</th>
                        <th class="text-center">Slots</th>
                        <th class="text-center">Lecturer</th>
                        <th class="text-center">Action</th>
                    </tr>
                 </thead>
                <tbody>
                
                </tbody>
            </table>
        </div>

    </div>

    {% if request.user.profile.role == "student" %}
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="white-text">My Courses</h4>
        </div>
        
        <div class="panel-body">
            <table class="table table-hover table-bordered" id="registered">
                <thead>
                    <tr class="info">
                        <th class="text-center">Course ID</th>
                        <th class="text-center">Course</th>
                        <th class="text-center">Offering ID</th>
                        <th class="text-center">Credits</th>
                        <th class="text-center">Year</th>
                        <th class="text-center">Start Date</th>
                        <th class="text-center">Day</th>
                        <th class="text-center">Time</th>
                        <th class="text-center">Max_Students</th>
                        <th class="text-center">Slots</th>
                        <th class="text-center">Lecturer</th>
                        <th class="text-center">Action</th>
                    </tr>
                 </thead>
                <tbody>
                
                </tbody>
            </table>
        
        </div>
    </div>
    {% endif %}

    </div>

    <script>
        $(document).on("click", ".enroll" , function() {
            var pk = $(this).val();

            var course_offering = {
                pk: pk,
                qualified: true,
            }

            $.ajax({
                method: 'POST',
                url: "{% url 'elearning:enroll.json' %}",
                headers: {'X-CSRFToken':'{{csrf_token}}'},
                dataType: 'JSON',
                data: JSON.stringify(course_offering),
            })

            .done (function (data) {
                if(data['messages'] == null){
                    get_courses();
                }else{
                    alert(data['messages']);
                }
                
            })
            
        })

        $(document).on("click", ".cancel" , function() {
            var pk = $(this).val();

            var course_offering = {
                pk: pk,
            }

            $.ajax({
                method: 'DELETE',
                url: "{% url 'elearning:enroll.json' %}",
                headers: {'X-CSRFToken':'{{csrf_token}}'},
                dataType: 'JSON',
                data: JSON.stringify(course_offering),
            })

            .done (function () {
                get_courses();
            })
            
        })

        $(document).on("click", ".unqualified" , function() {
            var pk = $(this).val();

            var course_offering = {
                pk: pk,
                qualified: false,
            }

            $.ajax({
                method: 'POST',
                url: "{% url 'elearning:enroll.json' %}",
                headers: {'X-CSRFToken':'{{csrf_token}}'},
                dataType: 'JSON',
                data: JSON.stringify(course_offering),
            })

            .done (function (data) {
                alert(data['messages']);
            })
            
        })
    </script>
    
{% endblock  %}
