{% extends "elearning/course_offering_detail.html" %}
{% load widget_tweaks %}

{% block title %}
    {% if request.user == user %}My Grade{% else %}{% if user.firstname %} {{ user.firstname }} Grade {% else %} {{ user.username }} Grade {% endif %} {% endif %}
{% endblock  %}

{% block course %}

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">{% if request.user == user %}My Grade{% else %}{% if user.firstname %} {{ user.firstname }} Grade {% else %} {{ user.username }} Grade {% endif %} {% endif %}</div>
            <div class="panel-body">
                <form action="{% url 'elearning:grade' course_offering.pk user.username %}" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if request.user != course_offering.lecturer %}
                        {{field|add_class:"form-control"|attr:"disabled"}}
                        {% else %}
                        {{field|add_class:"form-control"}}
                        {% endif %}
                    {% endfor %}
                    <br>
                    <p>Average: {{ grade.average }}</p>
                    <p>Status: {{ grade.status }}</p>
                    <button type="submit" class="main-button icon-button pull-right {% if request.user != course_offering.lecturer %} hidden {% endif %}">Save</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}