{% extends "elearning/course_offering_detail.html" %}

{% block title %}
    Grades
{% endblock  %}

{% block course %}

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Students Grades</div>
            <div class="panel-body">
                <table class="table table-hover table-bordered table-responsive">
                    <thead>
                        <tr class="info">
                            <td class="text-left">Username</td>
                            <td class="text-center">Assignment</td>
                            <td class="text-center">Midterm</td>
                            <td class="text-center">Final</td>
                            <td class="text-center">Average</td>
                            <td class="text-center">Status</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for grade in grades %}
                        <tr>
                            <td class="text-left"><a href="{% url 'elearning:grade' course_offering.pk grade.student.username %}">{{ grade.student.username }}</a></td>
                            <td class="text-center">{{ grade.assignment }}</td>
                            <td class="text-center">{{ grade.midterm }}</td>
                            <td class="text-center">{{ grade.final }}</td>
                            <td class="text-center">{{ grade.average }}</td>
                            <td class="text-center">{{ grade.status }}</td>
                        </tr>
                        {% empty %}
                        There is no student
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}