{% extends "base.html" %}

{% load static %}

{% block transparent-nav %}

{% endblock %}

{% block home %}
    <!-- Home -->
    <div id="home" class="hero-area">

        <!-- Backgound Image -->
        <div class="bg-image bg-parallax overlay" style="background-image:url({% static 'account/assets/img/background.jpg' %})">
        </div>
        <!-- /Backgound Image -->

        <div class="home-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="white-text">Join programs of Computer Science & Engineering Department</h1>
                        <p class="lead white-text">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant, eu pro alii error homero.</p>
                        <a class="main-button icon-button" href="{% url 'elearning:enroll' %}">Get Started!</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Home -->
{% endblock %}

{% block content %}
    <!-- Majors -->
    <div id="about" class="section">

        <!-- container -->
        <div class="container">

            <!-- row -->
            <div class="row">

                <div class="col-md-6">
                    <div class="section-header">
                        <h2>Welcome to Computer Science & Engineering Department</h2>
                        <p class="lead">Our Department includes {% with majors.count as num_majors %}{{ num_majors }}{% endwith %} majors:</p>
                    </div>

                    <!-- feature -->
                    {% for major in majors %}
                    <div class="feature">
                        <i class="feature-icon fa fa-university"></i>
                        <div class="feature-content">
                            <h4><a href="{% url 'elearning:course_list' major.slug %}">{{ major.name }}</a> </h4>
                            <p>{{ major.content }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- /feature -->

                </div>

                <div class="col-md-6">
                    <div class="about-img">
                        <img src="./img/about.png" alt="">
                    </div>
                </div>

            </div>
            <!-- row -->

        </div>
        <!-- container -->
    </div>
    <!-- /Majors -->

    <!-- Courses -->
    <div id="courses" class="section">

        <!-- container -->
        <div class="container">

            <!-- row -->
            <div class="row">
                <div class="section-header text-center">
                    <h2>Explore Courses</h2>
                    <p class="lead">Libris vivendo eloquentiam ex ius, nec id splendide abhorreant.</p>
                </div>
            </div>
            <!-- /row -->

            <!-- courses -->
            <div id="courses-wrapper">

                <!-- row -->
                {% for course in courses %}
                {% if forloop.counter <= 8 %}
                
                {% if forloop.counter == 1 or forloop.counter == 5 %}
                <div class="row">
                {% endif %}

                    <!-- single course -->
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="course">
                            <a href="{% url 'elearning:course_detail' course.pk %}" class="course-img">
                                <img src="
                                {% if course.picture %}
                                {{ MEDIA_URL }}{{ course.picture }}
                                {% else %}
                                {% static 'img/course-default.jpg' %}
                                {% endif %}" alt="{{ course.title }}" style="height:175px;width=263px;">
                                <i class="course-link-icon fa fa-link"></i>
                            </a>
                            <a class="course-title" href="{% url 'elearning:course_detail' course.pk %}">{{ course.title }}</a>
                            <div class="course-details">
                                <span class="course-category">{{ course.category }}</span>
                                <span class="course-price course-free">{{ course.num_credits }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- /single course -->

                {% if forloop.counter == 4 or forloop.counter == 8 %}
                </div>
                {% endif %}

                {% endif %}
                {% endfor %}
                <!-- /row -->

            </div>
            <!-- /courses -->

            <div class="row">
                <div class="center-btn">
                    <a class="main-button icon-button" href="#">More Courses</a>
                </div>
            </div>

        </div>
        <!-- container -->

    </div>
    <!-- /Courses -->
{% endblock %}