{% extends "elearning/course_offering_detail.html" %}

{% block title %}
    Staff Contact
{% endblock  %}

{% block course %}

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Staff Contact</div>
            <div class="panel-body">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>First name:</td>
                            <td>{{ lecture.first_name }}</td>
                        </tr>
                        <tr>
                            <td>Last name:</td>
                            <td>{{ lecturer.last_name }}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{ lecturer.email }}</td>
                        </tr>
                        <tr>
                            <td>Major:</td>
                            <td>{{ lecturer.profile.major }}</td>
                        </tr>
                        <tr>
                            <td>Bio:</td>
                            <td>{{ lecturer.profile.bio }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock  %}

{% block paging %}

{% endblock %}