{% extends "base.html" %}

{% load static %}

{% block css_extra %}
<style>

.panel-body strong, .panel-body .fa{
    color:rgb(8, 73, 126);
}

.panel-body .fa{
    display: inline-block;
    width: 100%;
}
.panel-body{
    margin-left: 20px;
    margin-right: 20px;
}

.date {
	font-size:12px;
	color:#374050;
}

.panel-body hr{
    height:1px; 
    color:rgb(8, 73, 126); 
    background-color:rgb(8, 73, 126);
}

.header-item{
    background-color:#ffcc99;
}

</style>

{% endblock %}

{% block transparent-nav %}

{% endblock %}

{% block home %}
    <div class="hero-area section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url({% static 'account/assets/img/background.jpg' %})"></div>
			<!-- /Backgound Image -->
			{% block home-wrapper %}
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">
						<ul class="hero-area-tree">
							<li><a href="{% url 'home' %}">Home</a></li>
							<li><a href="{% url 'forum:category' %}">Forum</a></li>
						</ul>
						<h1 class="white-text">Forum Page</h1>

					</div>
				</div>
			</div>
			{% endblock %}
	</div>
{% endblock %}

{% block content %}
    <div id="blog" class="section">

		<!-- container -->
		<div class="container">

		<!-- row -->
			<div class="row">
			<!-- main blog -->
				<div id="main" class="col-md-9">
                    
					{% block post %}
				    <!-- row -->
				    <div class="row">
                    </div>    
					<!-- /row -->
                    {% endblock %}

					<!-- row -->
					<div class="row">
                        {% block paging %}
						<!-- pagination -->
						<div class="col-md-12">
							<div class="post-pagination">
								<a href="#" class="pagination-back pull-left">Back</a>
								<ul class="pages">
									<li class="active">1</li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
								</ul>
								<a href="#" class="pagination-next pull-right">Next</a>
							</div>
						</div>
						<!-- pagination -->
                        {% endblock %}
					</div>
					<!-- /row -->
		        </div>
                <!-- /main blog -->

				{% block aside %}
                <!-- aside blog -->
				<div id="aside" class="col-md-3">

					<!-- search widget -->
					<div class="widget search-widget">
						<form action="{% url 'forum:search_post' %}" method="GET">
							<input class="input" type="text" name="search" placeholder="Search Posts">
							<button><i class="fa fa-search"></i></button>
						</form>
					</div>
					<!-- /search widget -->

					<!-- category widget -->
					<div class="widget category-widget">
						<h3>Categories</h3>
						{% for category in categories %}
						<a class="category" href="{% url 'forum:post_list' category.slug %}">{{ category.name }} 
						<span class="pull-right">
							{% if category.total_posts %}
								{{ category.total_posts }}
							{% else %}
								{% with category.posts.count as total_posts %}
                                	{{total_posts}}
                            	{% endwith %}
							{% endif %}
						</span></a>
						{% endfor %}
					</div>
					<!-- /category widget -->

					<!-- posts widget -->
					<div class="widget posts-widget">
						<h3>Latest {% if ctg.name %}{{ctg.name}}{% endif %} Posts</h3>
						{% for post in all_posts %}
						{% if forloop.counter <= 3 %}
						<!-- single posts -->
						<div class="single-post">
							<a class="single-post-img" href="#">
								<img src="{% static 'img/blog01.jpg' %}" alt="">
							</a>
							<a href="{{post.get_absolute_url}}">{{ post.title }}</a>
							<p><small>By {{post.author}} .{{post.publish}}</small></p>
						</div>
						<!-- /single posts -->
						{% endif %}
						{% empty %}
						<p>There is no post</p>
						{% endfor %}

					</div>
					<!-- /posts widget -->

					<!-- tags widget -->
					{% comment %} <div class="widget tags-widget">
						<h3>Tags</h3>
						<a class="tag" href="#">Web</a>
						<a class="tag" href="#">Photography</a>
						<a class="tag" href="#">Css</a>
						<a class="tag" href="#">Responsive</a>
						<a class="tag" href="#">Wordpress</a>
						<a class="tag" href="#">Html</a>
						<a class="tag" href="#">Website</a>
						<a class="tag" href="#">Business</a>
					</div> {% endcomment %}
					<!-- /tags widget -->

				</div>
				<!-- /aside blog -->
				{% endblock %}
				
			</div>
			<!-- row -->

		</div>
		<!-- container -->

	</div>
	<!-- /Blog -->
{% endblock %}
