{% extends "forum/base.html" %}

{% block title %}
    Forum
{% endblock  %}

{% block post %}
<div class="panel panel-default">
    <div class="panel-heading">Categories</div>

    <div class="panel-body">
        <div class="row">
            <a href="{% url 'forum:create_post' %}" class="btn btn-success pull-right">Create Post</a>
        </div>
        <br>

        <div class="row">
            <ol>
                {% for category in categories %}
                <li>
                    <div class="row">
                        <div class="col-md-1"><i class="fa fa-comments fa-lg text-center"></i></div>
                        <div class="col-md-6">
                            <a href="{% url 'forum:post_list' category.slug %}">
                                <p><strong>{{ category.name }}</strong></p>
                            </a>
                            <p>Post:
                                {{ category.total_posts }}
                            </p>
                        </div>
                        <div class="col-md-5">
                        <div style="background:#d7edfc; padding:3px 10px">
                            {% if category.latest_post_title %}
                            <p>Latest: <a href="{% url 'forum:post_detail' category.slug category.latest_post_id %}"><span>{{ category.latest_post_title|truncatewords:5 }}</span></a>
                            <span>by {{ category.author }}</span></p>
                            <p class="date">{{ category.latest_post_published|timesince }} ago</p>
                            {% else %}
                            <p>There is no post in this category</p>
                            {% endif %}
                        </div>
                        </div>
                    </div>
                </li>
                <hr>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock  %}

{% block paging %}

{% endblock %}