{% extends "forum/base.html" %}

{% block title %}
    Create Post
{% endblock  %}

{% block post %}
    <h1>Create your Post</h1>
    <form action="{% url 'forum:create_post' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="main-button icon-button">Post</button>
    </form>
{% endblock %}

{% block paging %}

{% endblock %}