{% extends "forum/post_detail.html" %}

{% block title %}
    Edit Post
{% endblock  %}

{% block post %}
    <h1>Edit your Post</h1>
    <form method="POST">
        {% csrf_token %}
        <textarea id="id_body" name="body" required>
            {% autoescape off %}
                {{ post.body }}
            {% endautoescape %}
        </textarea>
        <br>       
        <button class="main-button icon-button">Edit</button>
    </form>

    <script>
        $(function() {
            $('#id_body').froalaEditor({
                "inlineMode": false, 
                "imageUploadURL": "/froala/image_upload/", 
                "imageUploadParams": {"csrfmiddlewaretoken": getCookie("csrftoken")}, 
                "fileUploadURL": "/froala/file_upload/", 
                "fileUploadParams": {"csrfmiddlewaretoken": getCookie("csrftoken")},
            })
        });
    </script>
{% endblock %}

{% block paging %}

{% endblock %}