{% extends "forum/base.html" %}

{% load widget_tweaks %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block home-wrapper %}
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">
						<ul class="hero-area-tree">
							<li><a href="index.html">Home</a></li>
							<li><a href="{% url 'forum:category' %}">Forum</a></li>
							<li><a href="{% url 'forum:post_list' ctg.slug %}">{{ ctg.name }}</a></li>
                            <li>{{post.title}}</li>
						</ul>
						<h1 class="white-text">{{post.title}}</h1>
                        <ul class="blog-post-meta">
							<li class="blog-meta-author">By : <a href="#">{{post.author}}</a></li>
							<li>{{post.created}}</li>
							<li class="blog-meta-comments"><a href="#"><i class="fa fa-comments"></i> 
                                {% with comments.count as total_comments %}
                                	{{total_comments}}
                                {% endwith %}
                            </a></li>
						</ul>
					</div>
				</div>
			</div>
{% endblock %}

{% block post %}
	<!-- blog post -->
	<div class="blog-post fr-view">
		{% autoescape off %}
            {{ post.body }}
        {% endautoescape %}
	</div>
	<a href="#" class="fa fa-thumbs-up post-liked" {% if post.is_liked %} style="color:#007acc" {% endif %}><span> 
	{% with post.like.count as total_liked %}
		{{total_liked}}
	{% endwith %}
	</span></a>
    {% if request.user.username == post.author.username %}
        <a href="{% url 'forum:delete_post' ctg.slug post.id %}" class="btn btn-success fa fa-trash pull-right"></a>
		<a href="{% url 'forum:edit_post' ctg.slug post.id %}" class="btn btn-success fa fa-edit pull-right"></a>	
    {% endif %}
    <hr>
	<!-- /blog post -->

	<!-- blog comments -->
	<div class="blog-comments">
		<h3>
		{% with comments.count as total_comments %}
			{{total_comments}} Comments
		{% endwith %}
		</h3>

        {% for comment in comments %}
		<!-- single comment -->
		<div class="media">
			<div class="media-left">
				{% if comment.author.profile.avatar != "" %}
				<img src="{{ MEDIA_URL }}{{ comment.author.profile.avatar }}" />
				{% else %}
				<img src="https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png" />
				{% endif %}
			</div>
			<div class="media-body">
				<h4 class="media-heading">{{comment.author}}
                    {% if request.user.username == comment.author.username %}
                        <a href="{% url 'forum:delete_comment' ctg.slug post.id comment.id %}" class="btn pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                    {% endif %}
                </h4>
				<p>{{comment.body}}</p>
				<div class="date-reply"><span>{{comment.created}}</span></div>
				<a href="#" id="{{comment.id}}" data-is-liked="{{comment.is_liked}}" class="fa fa-thumbs-up comment-liked" {% if comment.is_liked %} style="color:#007acc" {% endif %}><span> 
					{% with comment.like.count as total_liked %}
						{{total_liked}}
					{% endwith %}
				</span></a>
			</div>
		</div>
		<!-- /single comment -->
        {% empty %}
        <p>There are no comments yet.</p>
        {% endfor %}

		<!-- blog reply form -->
        {% if request.user.is_authenticated %}
		<div class="blog-reply-form">
	    	<h3>Leave Comment</h3>
			<form action="{{post.get_absolute_url}}" method="post">
				{% csrf_token %}
                {% render_field comment_form.body class="input" name="message" placeholder="Enter your Message" %}
				<button class="main-button icon-button">Submit</button>
			</form>
		</div>
        {% else %}
        <button class="main-button icon-button"><a href="{% url 'login' %}">Login to comment</a></button>
		{% endif %}
        <!-- /blog reply form -->

	</div>
	<!-- /blog comments -->
	<script>
		$('.input').text('');
	</script>

	<!-- Like post -->
	<script>
	if ('{{request.user.is_authenticated}}'=='True'){
		var post_is_liked = '{{post.is_liked}}';

		$('.post-liked').on('click',function(){
			var username = '{{request.user.username}}';
			var post_id = '{{post.id}}';
			var data = {
				username: username,
				post_id: post_id,
			};
			var method = '';
			
			if ( post_is_liked =='True'){
				$('.post-liked').css("color","initial");
				method = 'DELETE';
				post_is_liked = 'False';
			}
			else{
				$('.post-liked').css("color","#007acc");
				method = 'POST';
				post_is_liked = 'True';
			}

			$.ajax({
				method: method,
     			url: "{% url 'forum:like_post' ctg.slug post.id %}",
				headers: {'X-CSRFToken':'{{csrf_token}}'},
        		dataType: 'JSON',
                data: JSON.stringify(data),
				success: function(data){
					var user = "";
					var total_liked = 0;
					$.each(data, function(i,value){
						user = user + value['name'] + ", ";
						total_liked = total_liked + 1;
					})
					$('.post-liked').text(' ' + total_liked);
					alert(user);
				}
      		})
		});
	}
	</script>
	<!-- End Like post -->

	<!-- Like comment -->
	<script>
	if ('{{request.user.is_authenticated}}'=='True'){

		$('.comment-liked').on('click',function(){
			var comment_is_liked = $(this).data('is-liked');
			var username = '{{request.user.username}}';
			var comment_id = $(this).attr('id');
			var data = {
				username: username,
				comment_id: comment_id,
			};
			var method = '';
			
			if ( comment_is_liked =='True'){
				$(this).css("color","initial");
				method = 'DELETE';
				$(this).data('is-liked','False');
			}
			else{
				$(this).css("color","#007acc");
				method = 'POST';
				$(this).data('is-liked','True');
			}

			$.ajax({
				method: method,
     			url: "{% url 'forum:like_comment' ctg.slug post.id %}",
				headers: {'X-CSRFToken':'{{csrf_token}}'},
        		dataType: 'JSON',
                data: JSON.stringify(data),
				success: function(data){
					var user = "";
					var total_liked = 0;
					$.each(data, function(i,value){
						user = user + value['name'] + ", ";
						total_liked = total_liked + 1;
					})
					$('#'+comment_id).text(' ' + total_liked);
					alert(user);
				}
      		})
		});
	}
	</script>
	<!-- End Like comment -->

{% endblock %}

{% block paging %}

{% endblock %}