{% extends "forum/base.html" %}

{% block title %}
    Search Posts
{% endblock  %}

{% block home-wrapper %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 text-center">
				<ul class="hero-area-tree">
							<li><a href="index.html">Home</a></li>
							<li><a href="{% url 'forum:category' %}">Forum</a></li>
                            <li>Search</li>
						</ul>
						<h1 class="white-text">{{ search }}</h1>

					</div>
				</div>
			</div>
			{% endblock %}

{% block post %}

<div class="panel panel-default">
    <div class="panel-heading">Result for: {{ search }}</div>

    <div class="panel-body">
        <div class="row">
            <a href="{% url 'forum:create_post' %}" class="btn btn-success pull-right">Create Post</a>
        </div>
        <br>

        <div class="row">
            <ul class="list-group">
                <li class="list-group-item header-item">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">Topic</div>
                        <div class="col-md-2">Comments</div>
                        <div class="col-md-4 text-right">Latest comment</div>
                    </div>
                </li>
                {% for post in posts %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-1">
                            <img src="{{ MEDIA_URL }}{{ post.author.profile.avatar }}" width="100%">
                        </div>
                        <div class="col-md-5">
                            <a href="{{post.get_absolute_url}}">
                                <p><strong>{{ post.title }}</strong></p>
                            </a>
                            <p>
                                {{ post.author }},<span class="date"> {{ post.publish }}</span>
                            </p>
                        </div>
                        <div class="col-md-2">
                            <span class="fa fa-comments"> {{ post.num_comment }}</span>
                            <span class="fa fa-eye"> {{ post.views }}</span>
                        </div>
                        <div class="col-md-4 text-right">
                            {% if post.latest_comment %}
                            <p><a href="{{post.get_absolute_url}}"><span>{{ post.latest_comment|truncatechars:20 }}</span></a>
                            <span>by {{ post.latest_comment_author }}</span></p>
                            <p class="date">{{ post.latest_comment_created|timesince }} ago</p>
                            {% else %}
                            <p>No comment</p>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% empty %}
                There is no post match.
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock  %}

{% block paging %}
<div class="col-md-12">
    <div class="post-pagination">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}" class="pagination-back pull-left">previous</a>
        {% endif %}

        <ul class="pages">
            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                    <li class="active">{{ i }}</li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}" class="pagination-next pull-right">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}